:root {
  --default-font-color: #000;
  --default-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --default-font-size: 18px;
  --default-line-space: 8;
  --default-line-height: calc( (var(--default-line-space, 6) * 2 + 18 ) / 18 );
  --default-stack-gap: calc( var(--default-line-height) * var(--default-font-size) );
  --default-layout-width: calc( 1024px + var(--default-stack-gap) * 2);
  --default-layout-narrow-width: 70ch;
  --default-layout-sidebar: 240px;
  --default-h1-font-size: calc(var(--default-font-size, 16px) * 6 / 2);
  --default-h2-font-size: calc(var(--default-font-size, 16px) * 6 / 3);
  --default-extra-large-font-size: calc(var(--default-font-size, 16px) * 6 / 4);
  --default-large-font-size: calc(var(--default-font-size, 16px) * 6 / 5);
  --default-medium-font-size: calc(var(--default-font-size, 16px) * 6 / 6);
  --default-small-font-size: calc(var(--default-font-size, 16px) * 6 / 7);
  --default-h1-line-height: calc(var(--default-line-height) * 6 / 10);
  --default-h2-line-height: calc(var(--default-line-height) * 6 / 9);
  --default-extra-large-line-height: calc(var(--default-line-height) * 6 / 8);
  --default-large-line-height: calc(var(--default-line-height) * 6 / 7);
  --default-medium-line-height: calc(var(--default-line-height) * 6 / 6);
  --default-small-line-height: calc(var(--default-line-height) * 6 / 7);
  --default-border-color: #ddd;
  --default-link-text-color: #2F80ED;
  --default-link-text-hover-color: #f00;
  --default-button-background-color: #2F80ED;
  --default-breakpoints-xs: 480px;
  --default-breakpoints-sm: 768px;
  --default-breakpoints-md: 896px;
  --default-breakpoints-lg: 1024px;
  --default-breakpoints-xl: 1280px;
  --default-editor-max-width: 1024px;
  --default-editor-background-color: #fff;
  --default-editor-breakpoint-small: 600px;
}

/*-----------------------*
		stack
*-----------------------*/
:root {
  --stack-gap-top: var(--default-stack-gap);
  --stack-gap-bottom: 0;
  --first-stack-gap-top: 0;
  --first-stack-gap-bottom: 0;
  --last-stack-gap-top: 0;
  --last-stack-gap-bottom: 0;
}

.first-stack {
  margin-block-start: var(--first-stack-gap-top);
  margin-block-end: var(--first-stack-gap-bottom);
}

.stack {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

.last-stack {
  margin-block-start: var(--last-stack-gap-top);
  margin-block-end: var(--last-stack-gap-bottom);
}

.stack-multi--by2 {
  margin-block-start: calc(var(--stack-gap-top) * 2);
  margin-block-end: calc(var(--stack-gap-bottom) * 2);
}

.stack-multi--by4 {
  margin-block-start: calc(var(--stack-gap-top) * 4);
  margin-block-end: calc(var(--stack-gap-bottom) * 4);
}

.stack-divi--by2 {
  margin-block-start: calc(var(--stack-gap-top) / 2);
  margin-block-end: calc(var(--stack-gap-bottom) / 2);
}

.none-stack {
  margin-block-start: 0;
}

.unset-stack {
  margin-block-start: initial;
}

.reverse-stack {
  margin-block-start: var(--stack-gap-bottom);
  margin-block-end: var(--stack-gap-top);
}

/* WordPress */
.wp-block.alignleft {
  margin-inline-end: var(--default-stack-gap);
}
.wp-block.alignright {
  margin-inline-start: var(--default-stack-gap);
}

/* WP Block */
.wp-block {
  max-width: var(--default-editor-max-width);
  box-sizing: border-box;
}

.is-root-container > *,
.is-root-container.is-layout-flow > * {
  margin-block-start: var(--first-stack-gap-top);
  margin-block-end: var(--first-stack-gap-bottom);
}
.is-root-container > * + *:not([class*=wp-block-]):not(.wp-block:has(> .wp-block-separator)):not(.wp-block:has(> .wp-block-group)),
.is-root-container > * + [class*=wp-block-]:not(.wp-block-separator):not(.wp-block-group),
.is-root-container.is-layout-flow > * + *:not([class*=wp-block-]):not(.wp-block:has(> .wp-block-separator)):not(.wp-block:has(> .wp-block-group)),
.is-root-container.is-layout-flow > * + [class*=wp-block-]:not(.wp-block-separator):not(.wp-block-group) {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}
.is-root-container > * + .wp-block > .wp-block-table,
.is-root-container > * + .wp-block > .wp-block-quote,
.is-root-container > * + .wp-block > .wp-block-columns,
.is-root-container > * + .wp-block > .wp-block-media-text,
.is-root-container > * + .wp-block > .wp-block-gallery,
.is-root-container.is-layout-flow > * + .wp-block > .wp-block-table,
.is-root-container.is-layout-flow > * + .wp-block > .wp-block-quote,
.is-root-container.is-layout-flow > * + .wp-block > .wp-block-columns,
.is-root-container.is-layout-flow > * + .wp-block > .wp-block-media-text,
.is-root-container.is-layout-flow > * + .wp-block > .wp-block-gallery {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}
.is-root-container > * + .wp-block-separator,
.is-root-container > * + .wp-block > .wp-block-separator,
.is-root-container.is-layout-flow > * + .wp-block-separator,
.is-root-container.is-layout-flow > * + .wp-block > .wp-block-separator {
  margin-block: calc(var(--default-stack-gap) * 3);
}

:is(.wp-block-column,
.wp-block-cover__inner-container,
.wp-block-group__inner-container) > * {
  margin-block-start: var(--first-stack-gap-top);
  margin-block-end: var(--first-stack-gap-bottom);
}
:is(.wp-block-column,
.wp-block-cover__inner-container,
.wp-block-group__inner-container) > * + [class*=wp-block-] {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

.wp-block[data-align=wide] {
  max-width: 94vw;
}
.wp-block[data-align=wide] > .wp-block-image > div {
  width: 94vw;
  max-width: 94vw;
  position: relative;
  inset-inline: 50%;
  margin-inline: -47vw;
}
.wp-block[data-align=wide] .wp-block-group__inner-container > .wp-block,
.wp-block[data-align=wide] .wp-block-cover__inner-container > .wp-block {
  max-width: 94vw;
}

.wp-block[data-align=full] {
  max-width: 100vw;
}
.wp-block[data-align=full] > .wp-block-image > div {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  inset-inline: 50%;
  margin-inline: -50vw;
}
.wp-block[data-align=full] .wp-block-group__inner-container > .wp-block,
.wp-block[data-align=full] .wp-block-cover__inner-container > .wp-block {
  max-width: 100vw;
}

.wp-post-image {
  width: -moz-fit-content;
  width: fit-content;
}

.wp-block-button {
  line-height: normal;
}
.wp-block-button .wp-block-button__link {
  border: 2px solid;
  border-color: transparent;
  padding: 8px 20px;
}
.wp-block-button .is-style-outline .wp-block-button__link {
  border-color: currentColor;
}

.wp-block-quote {
  border: none;
  padding: var(--default-stack-gap);
}
.wp-block-quote.has-text-align-left {
  border: 1px solid var(--default-border-color);
  border-inline-start: 4px solid var(--default-border-color);
}
.wp-block-quote.has-text-align-center {
  border: 1px solid var(--default-border-color);
  padding: var(--default-stack-gap);
}
.wp-block-quote.has-text-align-right {
  border: 1px solid var(--default-border-color);
  border-inline-end: 4px solid var(--default-border-color);
  padding: var(--default-stack-gap);
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  border: none;
  font-style: initial;
  padding: var(--default-stack-gap);
}
.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-style: initial;
}
.wp-block-quote.is-large cite, .wp-block-quote.is-style-large cite {
  font-size: 13px;
}

.wp-block-table thead {
  border-block-end: 1px solid;
  border-color: inherit;
}
.wp-block-table tfoot {
  border-block-start: 1px solid;
  border-color: inherit;
}
.wp-block-table.is-style-stripes table {
  border: initial;
  border-color: inherit;
}
.wp-block-table.is-style-stripes tfoot {
  border-block-start: initial;
}

[data-align=wide] .wp-block-table table,
[data-align=full] .wp-block-table table {
  width: 100%;
}
[data-align=wide] > .wp-block-post-featured-image img,
[data-align=full] > .wp-block-post-featured-image img {
  width: 100%;
}

.blocks-gallery-caption {
  text-align: initial;
}

[class*=wp-block-] figcaption {
  text-align: initial;
}

.wp-calendar-table th {
  text-align: center;
}
.wp-calendar-table td {
  white-space: nowrap;
}

[data-align=full] [class*=wp-block-] figcaption {
  margin-inline: var(--default-stack-gap);
}

.wp-block-cover > .wp-block-cover__inner-container {
  max-width: 100%;
  margin-inline: auto;
}

.wp-block-group > .wp-block-group__inner-container {
  max-width: 100%;
  margin-inline: auto;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  border: 2px solid var(--default-border-color);
  background: #fff;
}

.wp-block-search__input {
  background-color: #fff;
  border: 2px solid var(--default-border-color);
  margin: 0;
  padding: 0.2rem 0.4rem;
  outline: none;
}
.wp-block-search__input:focus {
  background-color: #fefefe;
  border: 2px solid var(--custom-link-text-color, var(--default-link-text-color));
}

.wp-block-search__button {
  color: #fff;
  padding: 0.1rem 1rem;
  border: initial;
  background-color: var(--default-button-background-color);
  cursor: pointer;
  line-height: var(--default-line-height, 1.8);
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}
.wp-block-search__button:hover, .wp-block-search__button:focus {
  filter: opacity(80%);
}
