@charset "UTF-8";
/* editor-color-palette */
:root .has-crimson-color {
  color: #dc143c;
}

:root .has-crimson-background-color {
  background-color: #dc143c;
}

:root .has-light-pink-color {
  color: #ffb6c1;
}

:root .has-light-pink-background-color {
  background-color: #ffb6c1;
}

:root .has-dark-orange-color {
  color: #ff8c00;
}

:root .has-dark-orange-background-color {
  background-color: #ff8c00;
}

:root .has-medium-seagreen-color {
  color: #3cb371;
}

:root .has-medium-seagreen-background-color {
  background-color: #3cb371;
}

:root .has-deep-skyblue-color {
  color: #00bfff;
}

:root .has-deep-skyblue-background-color {
  background-color: #00bfff;
}

:root .has-blue-violet-color {
  color: #8a2be2;
}

:root .has-blue-violet-background-color {
  background-color: #8a2be2;
}

:root .has-white-color {
  color: #ffffff;
}

:root .has-white-background-color {
  background-color: #ffffff;
}

:root .has-snow-color {
  color: #fffafa;
}

:root .has-snow-background-color {
  background-color: #fffafa;
}

:root .has-very-light-gray-color {
  color: #eeeeee;
}

:root .has-very-light-gray-background-color {
  background-color: #eeeeee;
}

:root .has-light-gray-color {
  color: #abb8c3;
}

:root .has-light-gray-background-color {
  background-color: #abb8c3;
}

:root .has-dark-gray-color {
  color: #a9a9a9;
}

:root .has-dark-gray-background-color {
  background-color: #a9a9a9;
}

:root .has-black-color {
  color: #000000;
}

:root .has-black-background-color {
  background-color: #000000;
}

.editor-post-title__block .editor-post-title__input {
  font-family: var(--custom-font-family-base, -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

.wp-block-table thead {
  border-bottom: 2px solid;
  border-color: inherit;
}

.wp-block-table tfoot {
  border-top: 2px solid;
  border-color: inherit;
}

.wp-block[data-type="core/group"][data-align=full] > .editor-block-list__block-edit > div > .wp-block-group > .wp-block-group__inner-container > .editor-inner-blocks > .editor-block-list__layout > .wp-block[data-align=wide] {
  padding-right: 0;
  padding-left: 0;
  left: 0;
  width: 80%;
  max-width: none;
}
