/* WP Block */
.wp-block-group,
.wp-block[data-align=wide],
.wp-block[data-align=full] {
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-column > *,
.wp-block-cover__inner-container > *,
.wp-block-group__inner-container > * {
  margin-top: var(--first-stack-top, unset);
  margin-bottom: var(--first-stack-bottom, unset);
}
.wp-block-column > * + .wp-block-quote,
.wp-block-column > * + .wp-block-code,
.wp-block-column > * + .wp-block-preformatted,
.wp-block-column > * + .wp-block-pullquote,
.wp-block-column > * + .wp-block-table,
.wp-block-column > * + .wp-block-verse,
.wp-block-column > * + .wp-block-image,
.wp-block-column > * + .wp-block-post-featured-image,
.wp-block-column > * + .wp-block-gallery,
.wp-block-column > * + .wp-block-video,
.wp-block-column > * + .wp-block-audio,
.wp-block-column > * + .wp-block-file,
.wp-block-column > * + .wp-block-buttons,
.wp-block-column > * + .wp-block-embed,
.wp-block-column > * + .wp-block-columns,
.wp-block-column > * + .wp-block-media-text,
.wp-block-column > * + .wp-block-calendar,
.wp-block-column > * + .wp-block-search,
.wp-block-cover__inner-container > * + .wp-block-quote,
.wp-block-cover__inner-container > * + .wp-block-code,
.wp-block-cover__inner-container > * + .wp-block-preformatted,
.wp-block-cover__inner-container > * + .wp-block-pullquote,
.wp-block-cover__inner-container > * + .wp-block-table,
.wp-block-cover__inner-container > * + .wp-block-verse,
.wp-block-cover__inner-container > * + .wp-block-image,
.wp-block-cover__inner-container > * + .wp-block-post-featured-image,
.wp-block-cover__inner-container > * + .wp-block-gallery,
.wp-block-cover__inner-container > * + .wp-block-video,
.wp-block-cover__inner-container > * + .wp-block-audio,
.wp-block-cover__inner-container > * + .wp-block-file,
.wp-block-cover__inner-container > * + .wp-block-buttons,
.wp-block-cover__inner-container > * + .wp-block-embed,
.wp-block-cover__inner-container > * + .wp-block-columns,
.wp-block-cover__inner-container > * + .wp-block-media-text,
.wp-block-cover__inner-container > * + .wp-block-calendar,
.wp-block-cover__inner-container > * + .wp-block-search,
.wp-block-group__inner-container > * + .wp-block-quote,
.wp-block-group__inner-container > * + .wp-block-code,
.wp-block-group__inner-container > * + .wp-block-preformatted,
.wp-block-group__inner-container > * + .wp-block-pullquote,
.wp-block-group__inner-container > * + .wp-block-table,
.wp-block-group__inner-container > * + .wp-block-verse,
.wp-block-group__inner-container > * + .wp-block-image,
.wp-block-group__inner-container > * + .wp-block-post-featured-image,
.wp-block-group__inner-container > * + .wp-block-gallery,
.wp-block-group__inner-container > * + .wp-block-video,
.wp-block-group__inner-container > * + .wp-block-audio,
.wp-block-group__inner-container > * + .wp-block-file,
.wp-block-group__inner-container > * + .wp-block-buttons,
.wp-block-group__inner-container > * + .wp-block-embed,
.wp-block-group__inner-container > * + .wp-block-columns,
.wp-block-group__inner-container > * + .wp-block-media-text,
.wp-block-group__inner-container > * + .wp-block-calendar,
.wp-block-group__inner-container > * + .wp-block-search {
  margin-top: var(--stack-top, unset);
  margin-bottom: var(--stack-bottom, unset);
}

.wp-post-image {
  width: 100%;
}

.wp-block {
  max-width: 1024px;
  box-sizing: border-box;
}

.wp-block-button {
  line-height: normal;
}
.wp-block-button .wp-block-button__link {
  border: 2px solid;
  border-color: transparent;
  padding: 8px 20px;
}
.wp-block-button .is-style-outline .wp-block-button__link {
  border-color: currentColor;
}

.wp-block-quote {
  border: none;
  padding: 1.6666666667rem;
}
.wp-block-quote.has-text-align-left {
  border: 1px solid #ddd;
  border-left: 4px solid #ddd;
}
.wp-block-quote.has-text-align-center {
  border: 1px solid #ddd;
  padding: 1.6666666667rem;
}
.wp-block-quote.has-text-align-right {
  border: 1px solid #ddd;
  border-right: 4px solid #ddd;
  padding: 1.6666666667rem;
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  border: none;
  font-style: unset;
  padding: 1.6666666667rem;
}
.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-style: unset;
}
.wp-block-quote.is-large cite, .wp-block-quote.is-style-large cite {
  font-size: 13px;
}

.wp-block-table thead {
  border-bottom: 1px solid;
  border-color: inherit;
}
.wp-block-table tfoot {
  border-top: 1px solid;
  border-color: inherit;
}
.wp-block-table.is-style-stripes table {
  border: unset;
  border-color: inherit;
}
.wp-block-table.is-style-stripes tfoot {
  border-top: unset;
}

[data-align=wide] .wp-block-table table,
[data-align=full] .wp-block-table table {
  width: 100%;
}

[data-align=full] > .wp-block-post-featured-image img,
[data-align=wide] > .wp-block-post-featured-image img {
  width: 100%;
}

.blocks-gallery-caption {
  text-align: unset;
}

.wp-block-embed figcaption,
.wp-block-image figcaption,
.wp-block-post-featured-image figcaption,
.wp-block-table figcaption {
  text-align: unset;
}

.wp-calendar-table th {
  text-align: center;
}

[data-align=full] .wp-block-embed figcaption,
[data-align=full] .wp-block-image figcaption,
[data-align=full] .wp-block-post-featured-image figcaption,
[data-align=full] .wp-block-table figcaption {
  margin-left: 1.6666666667rem;
  margin-right: 1.6666666667rem;
}

.wp-block-cover > .wp-block-cover__inner-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-group > .wp-block-group__inner-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wp-block[data-align=wide] {
  max-width: 94vw;
}
.wp-block[data-align=wide] > .wp-block-image > div {
  width: 94vw;
  max-width: 94vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -47vw;
  margin-right: -47vw;
}
.wp-block[data-align=wide] .wp-block-group__inner-container > .wp-block,
.wp-block[data-align=wide] .wp-block-cover__inner-container > .wp-block {
  max-width: 94vw;
}

.wp-block[data-align=full] {
  max-width: 100vw;
}
.wp-block[data-align=full] > .wp-block-image > div {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.wp-block[data-align=full] .wp-block-group__inner-container > .wp-block,
.wp-block[data-align=full] .wp-block-cover__inner-container > .wp-block {
  max-width: 100vw;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  border: 2px solid #ddd;
  background: #fff;
}

.wp-block-search__input {
  background-color: #fff;
  border: 2px solid #ddd;
  margin: 0;
  padding: 0.2rem 0.4rem;
  outline: none;
}
.wp-block-search__input:focus {
  background-color: #fefefe;
  border: 2px solid var(--custom-link-text-color, #2F80ED);
}

.wp-block-search__button {
  color: #fff;
  padding: 0.1rem 1rem;
  border: unset;
  background-color: #2F80ED;
  cursor: pointer;
  line-height: 1.6666666667;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}
.wp-block-search__button:hover, .wp-block-search__button:focus {
  filter: opacity(80%);
}

/*-----------------------*
		stack
*-----------------------*/
:root {
  --const-stack: 1.6666666667rem;
  --stack-top: 1.6666666667rem;
  --stack-bottom: 0;
  --first-stack-top: 0;
  --first-stack-bottom: 0;
  --last-stack-top: 0;
  --last-stack-bottom: 0;
}

.first-stack {
  margin-top: var(--first-stack-top, unset);
  margin-bottom: var(--first-stack-bottom, unset);
}

.stack {
  margin-top: var(--stack-top, unset);
  margin-bottom: var(--stack-bottom, unset);
}

.last-stack {
  margin-top: var(--last-stack-top, unset);
  margin-bottom: var(--last-stack-bottom, unset);
}

.stack-multi--by2 {
  margin-top: calc(var(--stack-top, unset) * 2);
  margin-bottom: calc(var(--stack-bottom, unset) * 2);
}

.stack-multi--by4 {
  margin-top: calc(var(--stack-top, unset) * 4);
  margin-bottom: calc(var(--stack-bottom, unset) * 4);
}

.stack-divi--by2 {
  margin-top: calc(var(--stack-top, unset) / 2);
  margin-bottom: calc(var(--stack-bottom, unset) / 2);
}

.none-stack {
  margin-top: 0;
}

.unset-stack {
  margin-top: unset;
}

.reverse-stack {
  margin-top: var(--stack-bottom, unset);
  margin-bottom: var(--stack-top, unset);
}

.is-root-container > * + h1, .is-root-container > * + h2, .is-root-container > * + h3, .is-root-container > * + h4, .is-root-container > * + h5, .is-root-container > * + h6,
.is-root-container > * + p,
.is-root-container > * + table,
.is-root-container > * + ul,
.is-root-container > * + ol,
.is-root-container > * + dl,
.is-root-container > * + blockquote,
.is-root-container > * + pre {
  margin-top: var(--stack-top, unset);
  margin-bottom: var(--stack-bottom, unset);
}
.is-root-container li > ul,
.is-root-container li > ol {
  margin-top: unset;
}
.is-root-container > * + .wp-block-image,
.is-root-container > * + .wp-block-table,
.is-root-container > * + .wp-block > .wp-block-quote,
.is-root-container > * + .wp-block-pullquote,
.is-root-container > * + .wp-block-code,
.is-root-container > * + .wp-block-preformatted,
.is-root-container > * + .wp-block-verse,
.is-root-container > * + .wp-block-audio,
.is-root-container > * + .wp-block-file,
.is-root-container > * + .wp-block-video,
.is-root-container > * + .wp-block-embed,
.is-root-container > * + .wp-block-buttons,
.is-root-container > * + .wp-block-columns,
.is-root-container > * + .wp-block-media-text,
.is-root-container > * + .wp-block-calendar,
.is-root-container > * + .wp-block-search {
  margin-top: var(--stack-top, unset);
  margin-bottom: var(--stack-bottom, unset);
}
.is-root-container > * + .wp-block > .wp-block-table,
.is-root-container > * + .wp-block > .wp-block-quote,
.is-root-container > * + .wp-block > .wp-block-columns,
.is-root-container > * + .wp-block > .wp-block-media-text,
.is-root-container > * + .wp-block > .wp-block-gallery {
  margin-top: var(--stack-top, unset);
  margin-bottom: var(--stack-bottom, unset);
}
.is-root-container > * + .wp-block-separator,
.is-root-container > * + .wp-block .wp-block-separator {
  margin-top: calc(var(--const-stack, unset) * 3);
  margin-bottom: calc(var(--const-stack, unset) * 3);
}
