body {
  font-size: var(--custom-font-size, 18px);
  line-height: var(--custom-line-height, 1.6666666667);
  color: var(--custom-font-color, #000);
  font-family: var(--custom-font-family-base, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif);
  background-color: var(--custom-background-color, #fff);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--custom-font-family-headings, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif);
  font-weight: bold;
  line-height: 1.6666666667;
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  font-size: 75%;
  font-weight: normal;
}

h1 {
  font-size: 220%;
  line-height: 1.1515151515;
}

h2 {
  font-size: 180%;
  line-height: 1.1851851852;
}

h3 {
  font-size: 160%;
  line-height: 1.2083333333;
}

h4 {
  font-size: 125%;
  line-height: 1.2666666667;
}

h5 {
  font-size: 100%;
  line-height: 1.3333333333;
}

h6 {
  font-size: 80%;
  line-height: 1.4166666667;
}

a {
  color: var(--custom-link-text-color, #2F80ED);
  text-decoration: none;
}
a:focus, a:active, a:hover {
  color: var(--custom-link-text-hover-color, #f00);
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  border: 1px solid;
  border-color: #ddd;
}

th,
td {
  border-top: 1px solid;
  border-right: 1px solid;
  border-left: unset;
  border-color: inherit;
  padding: 0.6rem;
}

th {
  font-weight: bold;
  text-align: left;
}

th:not(.has-text-align-right):not(.has-text-align-center):not(.has-text-align-left) {
  text-align: left;
}

thead {
  border-bottom: 1px solid;
  border-color: inherit;
}

tfoot {
  border-top: 1px solid;
  border-color: inherit;
}

ul {
  list-style-type: disc;
}
ul.no-style {
  list-style: none;
  padding-left: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 2rem;
}

blockquote {
  padding: 1.6666666667rem;
  background-color: #f4f4f4;
  border-radius: 0.2rem;
}

code,
pre,
kbd {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code,
kbd {
  padding: 0.2rem;
  border-radius: 0.2rem;
}

code {
  color: #6f6f6f;
  background-color: #f4f4f4;
}

kbd {
  color: #fff;
  background-color: #333;
}

/**
 * Fixd Editor Normalization Styles
 *
 * These are only output in the editor, but styles here are prefixed .editor-styles-wrapper and affect the theming
 * of the editor by themes.
 * Why do these exist? Why not rely on browser defaults?
 * These styles are necessary so long as CSS can bleed from the wp-admin into the editing canvas itself.
 * Let's continue working to refactor these away, whether through Shadow DOM or better scoping of upstream styles.
 *
  * See packages/editor/src/editor-styles.scss
 */
.editor-post-title__block .editor-post-title__input {
  font-family: var(--custom-font-family-base, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif);
  font-weight: 700;
}

b, strong {
  font-weight: bolder;
}

ol.wp-block-latest-comments {
  padding-left: 0;
}

.wp-block-latest-comments__comment {
  margin-bottom: 1em;
}
