@charset "UTF-8";
body {
  background-color: var(--custom-background-color, #fff);
  font-size: var(--custom-font-size, 16px);
  line-height: var(--custom-line-height, 2);
  color: var(--custom-font-color, #000);
  font-family: var(--custom-font-family-base, -apple-system, BlinkMacSystemFont, "メイリオ", Meiryo, "游ゴシック体", YuGothic, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  font-feature-settings: 'pwid';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--custom-font-family-headings, -apple-system, BlinkMacSystemFont, "メイリオ", Meiryo, "游ゴシック体", YuGothic, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

h1 {
  font-size: 240%;
  line-height: 1.41667;
}

h2 {
  font-size: 200%;
  line-height: 1.5;
}

h3 {
  font-size: 160%;
  line-height: 1.625;
}

h4 {
  font-size: 140%;
  line-height: 1.71429;
}

h5 {
  font-size: 120%;
  line-height: 1.83333;
}

h6 {
  font-size: 100%;
  line-height: 2;
}

a {
  color: var(--custom-link-text-color, #2F80ED);
}

a:focus, a:active, a:hover {
  color: var(--custom-link-text-hover-color, #f00);
}

/**
 * Fixd Editor Normalization Styles
 *
 * These are only output in the editor, but styles here are prefixed .editor-styles-wrapper and affect the theming
 * of the editor by themes.
 * Why do these exist? Why not rely on browser defaults?
 * These styles are necessary so long as CSS can bleed from the wp-admin into the editing canvas itself.
 * Let's continue working to refactor these away, whether through Shadow DOM or better scoping of upstream styles.
 *
  * See packages/editor/src/editor-styles.scss
 */
ol.wp-block-latest-comments {
  padding-left: 0;
}

.wp-block-latest-comments__comment {
  margin-bottom: 1em;
}
