@charset "UTF-8";
body {
  color: #000;
  font-family: var(--custom-font-family-base, -apple-system, BlinkMacSystemFont, "メイリオ", Meiryo, "游ゴシック体", YuGothic, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  line-height: 2;
  letter-spacing: .1rem;
  background-color: #fff;
}

/**
 * Fixd Editor Normalization Styles
 *
 * These are only output in the editor, but styles here are prefixed .editor-styles-wrapper and affect the theming
 * of the editor by themes.
 * Why do these exist? Why not rely on browser defaults?
 * These styles are necessary so long as CSS can bleed from the wp-admin into the editing canvas itself.
 * Let's continue working to refactor these away, whether through Shadow DOM or better scoping of upstream styles.
 *
  * See packages/editor/src/editor-styles.scss
 */
