:root {
  --default-font-color: #000;
  --default-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --default-font-size: 18px;
  --default-line-space: 8;
  --default-line-height: calc( (var(--default-line-space, 6) * 2 + 18 ) / 18 );
  --default-stack-gap: calc( var(--default-line-height) * var(--default-font-size) );
  --default-layout-width: calc( 1024px + var(--default-stack-gap) * 2);
  --default-layout-narrow-width: 70ch;
  --default-layout-sidebar: 240px;
  --default-h1-font-size: calc(var(--default-font-size, 16px) * 6 / 2);
  --default-h2-font-size: calc(var(--default-font-size, 16px) * 6 / 3);
  --default-extra-large-font-size: calc(var(--default-font-size, 16px) * 6 / 4);
  --default-large-font-size: calc(var(--default-font-size, 16px) * 6 / 5);
  --default-medium-font-size: calc(var(--default-font-size, 16px) * 6 / 6);
  --default-small-font-size: calc(var(--default-font-size, 16px) * 6 / 7);
  --default-h1-line-height: calc(var(--default-line-height) * 6 / 10);
  --default-h2-line-height: calc(var(--default-line-height) * 6 / 9);
  --default-extra-large-line-height: calc(var(--default-line-height) * 6 / 8);
  --default-large-line-height: calc(var(--default-line-height) * 6 / 7);
  --default-medium-line-height: calc(var(--default-line-height) * 6 / 6);
  --default-small-line-height: calc(var(--default-line-height) * 6 / 7);
  --default-border-color: #ddd;
  --default-link-text-color: #2F80ED;
  --default-link-text-hover-color: #f00;
  --default-button-background-color: #2F80ED;
  --default-breakpoints-xs: 480px;
  --default-breakpoints-sm: 768px;
  --default-breakpoints-md: 896px;
  --default-breakpoints-lg: 1024px;
  --default-breakpoints-xl: 1280px;
  --default-editor-max-width: 1024px;
  --default-editor-background-color: #fff;
  --default-editor-breakpoint-small: 600px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-block-end: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  inset-block-end: -0.25em;
}

sup {
  inset-block-start: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*-----------------------*
		Reset
*-----------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

input::-moz-focus-inner {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  margin: 0;
  padding: 0;
}

/*-----------------------*
		Element
*-----------------------*/
* {
  box-sizing: border-box;
}

:root {
  font-size: var(--default-font-size, 16px);
  line-height: var(--default-line-height, 1.8);
  color: var(--custom-font-color, var(--default-font-color));
  font-family: var(--custom-font-family-base, var(--default-font-family));
}

body {
  background-color: var(--custom-background-color, #fff);
  overflow-wrap: anywhere;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--custom-font-family-headings, var(--default-font-family));
  font-weight: bold;
  line-height: var(--default-line-height, 1.8);
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  font-size: 75%;
  font-weight: normal;
}

h1 {
  font-size: var(--default-h1-font-size, 220%);
  line-height: var(--default-h1-line-height, 1.6);
}

h2 {
  font-size: var(--default-h2-font-size, 180%);
  line-height: var(--default-h2-line-height, 1.6);
}

h3 {
  font-size: var(--default-extra-large-font-size, 160%);
  line-height: var(--default-extra-large-line-height, 1.6);
}

h4 {
  font-size: var(--default-large-font-size, 125%);
  line-height: var(--default-large-line-height, 1.6);
}

h5 {
  font-size: var(--default-medium-font-size, 100%);
  line-height: var(--default-medium-line-height, 1.6);
}

h6 {
  font-size: var(--default-small-font-size, 80%);
  line-height: var(--default-small-line-height, 1.6);
}

a {
  color: var(--custom-link-text-color, var(--default-link-text-color));
  text-decoration: none;
}
a:focus, a:active, a:hover {
  color: var(--custom-link-text-hover-color, var(--default-link-text-hover-color));
  text-decoration: underline;
}

hr {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  border: 0;
  height: 1px;
}

img {
  display: inline-block;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border: 1px solid;
  border-color: var(--default-border-color);
}

th,
td {
  border-block-start: 1px solid;
  border-inline-end: 1px solid;
  border-color: inherit;
  padding: 0.6rem;
}

th {
  font-weight: bold;
  text-align: start;
}

thead {
  border-block-end: 1px solid;
  border-color: inherit;
}

tfoot {
  border-block-start: 1px solid;
  border-color: inherit;
}

ul {
  list-style-type: disc;
}
ul.no-style {
  list-style: none;
  padding-inline-start: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-inline-start: 2rem;
}

blockquote {
  padding: var(--default-stack-gap);
  background-color: #f4f4f4;
  border-radius: 0.2rem;
}

code,
pre,
kbd {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

code,
kbd {
  padding: 0.2rem;
  border-radius: 0.2rem;
}

code {
  color: #6f6f6f;
  background-color: #f4f4f4;
}

kbd {
  color: #fff;
  background-color: #333;
}

pre {
  background-color: #f4f4f4;
  padding: var(--default-stack-gap);
  overflow: auto;
  white-space: pre-wrap;
  border-radius: 0.2rem;
}
pre code {
  color: #6f6f6f;
  background-color: initial;
  padding: 0;
}
pre.wrap {
  white-space: pre;
  white-space: pre-wrap;
}
pre.scrollable {
  max-height: 240px;
  overflow-y: scroll;
}

figcaption {
  color: #333;
  line-height: var(--default-line-height, 1.8);
}

/*-----------------------*
		stack
*-----------------------*/
:root {
  --stack-gap-top: var(--default-stack-gap);
  --stack-gap-bottom: 0;
  --first-stack-gap-top: 0;
  --first-stack-gap-bottom: 0;
  --last-stack-gap-top: 0;
  --last-stack-gap-bottom: 0;
}

.first-stack {
  margin-block-start: var(--first-stack-gap-top);
  margin-block-end: var(--first-stack-gap-bottom);
}

.stack {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

.last-stack {
  margin-block-start: var(--last-stack-gap-top);
  margin-block-end: var(--last-stack-gap-bottom);
}

.stack-multi--by2 {
  margin-block-start: calc(var(--stack-gap-top) * 2);
  margin-block-end: calc(var(--stack-gap-bottom) * 2);
}

.stack-multi--by4 {
  margin-block-start: calc(var(--stack-gap-top) * 4);
  margin-block-end: calc(var(--stack-gap-bottom) * 4);
}

.stack-divi--by2 {
  margin-block-start: calc(var(--stack-gap-top) / 2);
  margin-block-end: calc(var(--stack-gap-bottom) / 2);
}

.none-stack {
  margin-block-start: 0;
}

.unset-stack {
  margin-block-start: initial;
}

.reverse-stack {
  margin-block-start: var(--stack-gap-bottom);
  margin-block-end: var(--stack-gap-top);
}

/*-----------------------*
		Structure
*-----------------------*/
html,
body {
  height: 100%;
}

.container {
  min-width: 240px;
}

.site-header,
.site-header-image,
.site-content {
  width: 100%;
}

.header-container,
.site-navi,
.footer-container,
.page-header,
.main-container > article,
.posts-navigation,
.post-navigation,
.search-results-pagination,
.comments-area,
.secondary {
  width: min(100%, var(--default-layout-width, 800px));
  margin-inline: auto;
  padding-inline: var(--default-stack-gap);
}

.secondary {
  margin: 0;
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

@media screen and (width > 896px) {
  .page-template-narrow-width-page .page-header,
  .page-template-narrow-width-page .main-container > article,
  .page-template-narrow-width-page .posts-navigation,
  .page-template-narrow-width-page .post-navigation,
  .page-template-narrow-width-page .search-results-pagination,
  .page-template-narrow-width-page .comments-area,
  .page-template-narrow-width-page .secondary {
    max-width: var(--default-layout-narrow-width, 640px);
  }
  .page-template-sidebar-page .site-content,
  .post-template-sidebar-post .site-content,
  .archive-template-index-sidebar .site-content,
  .archive-template-archive-sidebar .site-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--default-stack-gap);
    width: 100%;
    max-width: var(--default-layout-width, 800px);
    margin-inline: auto;
    padding-inline: var(--default-stack-gap);
  }
  .page-template-sidebar-page .primary,
  .post-template-sidebar-post .primary,
  .archive-template-index-sidebar .primary,
  .archive-template-archive-sidebar .primary {
    max-width: calc(var(--default-layout-width) - var(--default-layout-sidebar) - var(--default-stack-gap) - var(--default-stack-gap) * 2);
  }
  .page-template-sidebar-page .secondary,
  .post-template-sidebar-post .secondary,
  .archive-template-index-sidebar .secondary,
  .archive-template-archive-sidebar .secondary {
    width: var(--default-layout-sidebar);
    margin: 0;
  }
  .page-template-sidebar-page .page-header,
  .page-template-sidebar-page .main-container > article,
  .page-template-sidebar-page .posts-navigation,
  .page-template-sidebar-page .post-navigation,
  .page-template-sidebar-page .search-results-pagination,
  .page-template-sidebar-page .comments-area,
  .page-template-sidebar-page .secondary,
  .post-template-sidebar-post .page-header,
  .post-template-sidebar-post .main-container > article,
  .post-template-sidebar-post .posts-navigation,
  .post-template-sidebar-post .post-navigation,
  .post-template-sidebar-post .search-results-pagination,
  .post-template-sidebar-post .comments-area,
  .post-template-sidebar-post .secondary,
  .archive-template-index-sidebar .page-header,
  .archive-template-index-sidebar .main-container > article,
  .archive-template-index-sidebar .posts-navigation,
  .archive-template-index-sidebar .post-navigation,
  .archive-template-index-sidebar .search-results-pagination,
  .archive-template-index-sidebar .comments-area,
  .archive-template-index-sidebar .secondary,
  .archive-template-archive-sidebar .page-header,
  .archive-template-archive-sidebar .main-container > article,
  .archive-template-archive-sidebar .posts-navigation,
  .archive-template-archive-sidebar .post-navigation,
  .archive-template-archive-sidebar .search-results-pagination,
  .archive-template-archive-sidebar .comments-area,
  .archive-template-archive-sidebar .secondary {
    padding-inline: 0;
  }
}
.site-content {
  margin-block-start: var(--default-stack-gap);
}

.page-template-blank-page-without-header .site-content,
.page-template-landing-page .site-content {
  margin-block-start: 0;
}

/* Form */
input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=date],
input[type=datetime],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime-local],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=color],
select,
textarea {
  background-color: #fff;
  border: 2px solid var(--default-border-color);
  margin: 0;
  padding: 0.2rem 0.4rem;
  outline: none;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime-local]:focus,
input[type=number]:focus,
input[type=range]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=color]:focus,
select:focus,
textarea:focus {
  background-color: #fefefe;
  border: 2px solid var(--custom-link-text-color, var(--default-link-text-color));
}

select {
  width: 100%;
  font-size: 100%;
  border: 2px solid #cacaca;
  color: #222222;
  background-color: transparent;
  border-radius: 0.2em;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select {
  background-image: url('data:image/svg+xml;utf8,<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12"><polygon fill="color( display-p3 0.102 0.106 0.122 / 1 )" fill-rule="evenodd" points="1319.899 365.778 1327.678 358 1329.799 360.121 1319.899 370.021 1310 360.121 1312.121 358" transform="translate(-1310 -358)" /></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - (100% - 1rem)) center;
  background-size: 0.9rem;
  position: relative;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.btn {
  color: #fff;
  padding: 0.1rem 1rem;
  border: initial;
  background-color: var(--default-button-background-color);
  cursor: pointer;
  line-height: var(--default-line-height, 1.8);
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  white-space: nowrap;
}
.btn:hover, .btn:focus {
  filter: opacity(80%);
}

[type=button],
[type=reset],
[type=submit] {
  color: #fff;
  padding: 0.1rem 1rem;
  border: initial;
  background-color: var(--default-button-background-color);
  cursor: pointer;
  line-height: var(--default-line-height, 1.8);
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  white-space: nowrap;
}
[type=button]:hover, [type=button]:focus,
[type=reset]:hover,
[type=reset]:focus,
[type=submit]:hover,
[type=submit]:focus {
  filter: opacity(80%);
}

/* Header */
.site-header {
  background-color: var(--custom-header-background-color);
}

.header-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-block: var(--default-stack-gap);
}
@media screen and (width > 480px) {
  .header-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
  }
}

.site-title a {
  font-family: var(--custom-font-family-site-title, var(--default-font-family));
  color: var(--custom-header-text-color, #000);
}

.site-description {
  font-family: var(--custom-font-family-site-title, var(--default-font-family));
  color: var(--custom-header-text-color, #000);
}

.site-logo {
  line-height: 1;
}
@media screen and (width > 480px) {
  .site-logo {
    width: 30%;
    text-align: center;
  }
}
.site-logo + .site-branding {
  margin-inline-start: clamp(0rem, (480px - 100vw) * 1000 * -1, var(--default-stack-gap));
}
@media screen and (width > 480px) {
  .site-logo + .site-branding {
    width: 70%;
  }
}

/* Global Menu */
.site-navi {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
.site-navi ul {
  list-style: none;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  padding-inline-start: 0;
}
.site-navi > ul > li a {
  color: var(--custom-primary-color, #333);
  border-block-end: 1px solid var(--default-border-color);
  background: #f9f9f9;
  text-decoration: none;
}
.site-navi > ul > li a:hover, .site-navi > ul > li a:focus {
  background-color: #efefef;
}
.site-navi > ul > li > a {
  display: block;
  margin: 0;
  padding: 0.4rem;
  font-weight: bold;
}
.site-navi > ul ul {
  display: block;
  position: relative;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: auto;
}
.site-navi > ul ul a {
  font-size: 90%;
  display: block;
  width: auto;
  padding-block: 0.4rem;
  padding-inline-start: 1.2rem;
}
.site-navi > ul ul ul a {
  padding-inline-start: 2.4rem;
}
.site-navi > ul ul ul ul a {
  padding-inline-start: 3.6rem;
}
.site-navi > ul ul ul ul ul a {
  padding-inline-start: 4.8rem;
}
.site-navi > ul > li i,
.site-navi > ul > li svg {
  display: none;
}

.drawer {
  visibility: hidden;
  display: block;
  position: fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 9998;
  inset-block-start: 0;
  inset-inline-start: -100%;
  width: 100%;
  height: 100%;
  /* easeOutCirc */
  transition: right 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
body.drawer--on .drawer {
  visibility: visible;
  inset-block-start: 0;
  inset-inline-start: 0;
}

.drawer-btn {
  display: grid;
  place-items: center;
  position: fixed;
  inset-block-start: 18px;
  inset-inline-end: 18px;
  z-index: 9999;
  width: 42px;
  aspect-ratio: 1;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
}
body.drawer--on .drawer-btn {
  background-color: rgb(230, 230, 230);
}
.drawer-btn svg {
  width: 28px;
  aspect-ratio: 1;
  fill: #999;
}

.drawer-overlay {
  display: none;
}
body.drawer--on .drawer-overlay {
  display: block;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  z-index: 9997;
  background: rgba(0, 0, 0, 0.4);
}

body.drawer--on {
  overflow: hidden;
}

.admin-bar .drawer {
  inset-block-start: 46px;
  height: calc(100% - 46px);
}
.admin-bar .drawer-btn {
  inset-block-start: 64px;
}

body.admin-bar.drawer--on .drawer,
body.admin-bar.drawer--on .drawer-overlay {
  inset-block-start: 46px;
}

@media screen and (width >= 782px) {
  .admin-bar .drawer {
    inset-block-start: 32px;
    height: calc(100% - 32px);
  }
  .admin-bar .drawer-btn {
    inset-block-start: 50px;
  }
  body.admin-bar.drawer--on .drawer,
  body.admin-bar.drawer--on .drawer-overlay {
    inset-block-start: 32px;
  }
}
@media screen and (width > 480px) {
  .drawer {
    width: 75%;
  }
}
@media screen and (width > 768px) {
  .drawer {
    width: 50%;
  }
}
@media screen and (width > 896px) {
  .drawer {
    visibility: visible;
  }
  .site-navi {
    margin-inline: auto;
    padding-inline: var(--default-stack-gap);
    background: none;
  }
  .site-navi ul {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
  }
  .site-navi ul li {
    box-sizing: border-box;
    flex: 0 1 auto;
    position: relative;
    white-space: nowrap;
  }
  .site-navi > ul > li > a {
    color: var(--custom-primary-color, #333);
    margin-inline-end: 0.4rem;
    padding-block-end: 0;
    background: none;
    position: relative;
    border-block-end: 2px solid transparent;
  }
  .site-navi > ul > li > a:hover, .site-navi > ul > li > a:focus {
    opacity: 0.8;
    background-color: initial;
  }
  .site-navi > ul > li > a:after {
    position: absolute;
    inset-block-end: -2px;
    inset-inline-start: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--custom-primary-color, #333);
    transform: scale(0, 0);
    transform-origin: center top;
    transition-property: width;
    transition: transform 0.4s;
  }
  .site-navi > ul > li > a:hover:after {
    transform: scale(1, 1);
  }
  .site-navi > ul > li.current-menu-item > a {
    border-block-end: 2px solid var(--custom-primary-color, #333);
  }
  .site-navi > ul li:hover > ul,
  .site-navi > ul li.focus > ul {
    inset-inline-start: auto;
  }
  .site-navi > ul ul li:hover > ul,
  .site-navi > ul ul li.focus > ul {
    inset-inline-start: 100%;
  }
  .site-navi > ul ul {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    position: absolute;
    inset-block-start: 2.15rem;
    inset-inline-start: -99999rem;
    z-index: 99999;
  }
  .site-navi > ul ul ul {
    inset-inline-start: -99999rem;
    inset-block-start: 0;
  }
  .site-navi > ul ul li {
    white-space: normal;
  }
  .site-navi > ul ul a {
    width: 200px;
    font-size: 80%;
    color: #444;
  }
  .site-navi > ul ul a:hover, .site-navi > ul ul a:focus {
    background-color: #efefef;
  }
  .site-navi > ul ul a:active {
    background-color: #e5e5e5;
  }
  .site-navi > ul ul a,
  .site-navi > ul ul ul a,
  .site-navi > ul ul ul ul a {
    padding: calc(var(--default-stack-gap) / 4) calc(var(--default-stack-gap) / 2);
  }
  .site-navi > ul ul .current-menu-item > a {
    font-weight: bold;
    color: #373737;
    background-color: #fff;
  }
  .site-navi > ul > li i,
  .site-navi > ul > li svg {
    display: inline-block;
    font-size: 80%;
    margin-inline-start: 0.2rem;
  }
  .site-navi > ul ul > li i,
  .site-navi > ul ul > li svg {
    display: inline-block;
    position: absolute;
    inset-block-start: 35%;
    inset-inline-end: 4%;
  }
  .drawer {
    position: static;
    overflow: visible;
    z-index: auto;
    width: min(100%, var(--default-layout-width, 800px));
  }
  .drawer-btn {
    display: none;
  }
  body.drawer--on {
    overflow: visible;
  }
  body.drawer--on .drawer-overlay {
    display: none;
  }
}
/* Navigation */
.nav-links {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav-links div {
  box-sizing: border-box;
  flex: 1 1 0;
  align-self: stretch;
}
.nav-links .nav-previous {
  border-inline-end: 1px solid var(--default-border-color);
  padding-inline-end: 1rem;
}
.nav-links .nav-previous:first-child:last-child {
  border-inline-end: 0;
  padding-inline-end: initial;
}
.nav-links .nav-next {
  text-align: end;
  padding-inline-start: 1rem;
  border-inline-start: 1px solid var(--default-border-color);
}
.nav-links .nav-next:first-child:last-child {
  border-inline-start: 0;
  padding-inline-start: initial;
}

.search-results-pagination .nav-links {
  justify-content: center;
}
.search-results-pagination .nav-links > * {
  padding: 0 1rem;
}

.page-links {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.page-links > * {
  padding: 0 1rem;
}

/* Footer */
.site-footer {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
  background-color: var(--custom-footer-background-color);
}

.footer-container {
  padding-block: var(--default-stack-gap);
}

.footer-widget .widget-area {
  width: 100%;
}

.theme-info {
  font-size: 80%;
  text-align: center;
  background-color: var(--custom-footer-background-color);
}

/* Comment */
.comments-title,
.comment-reply-title {
  font-size: 125%;
}

.comment-list {
  list-style: none;
  padding-inline-start: 0;
  /* Post author highlighting */
}
.comment-list .children {
  list-style: inherit;
  padding-inline-start: 0.8rem;
}
.comment-list .comment,
.comment-list .trackback,
.comment-list .pingback {
  border-block-start: 1px solid var(--default-border-color);
}
.comment-list > .comment:last-child,
.comment-list > .trackback:last-child,
.comment-list > .pingback:last-child {
  border-block-end: 1px solid var(--default-border-color);
}
.comment-list .comment-body {
  margin-block: 1rem;
}
.comment-list .reply {
  text-align: end;
}
.comment-list .avatar {
  border-radius: 50%;
  margin-inline-end: 0.1em;
  vertical-align: bottom;
}
.comment-list .comment-meta {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: right;
  align-items: start;
}
@media screen and (width > 480px) {
  .comment-list .comment-meta {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
}
.comment-list > .bypostauthor {
  border-block-start: 1px solid var(--default-border-color);
  /* Post Author threaded comments */
}
.comment-list > .bypostauthor .comment-meta {
  color: #575757;
}
.children > .comment-list > .bypostauthor {
  border-block-start: 1px solid var(--default-border-color);
}

.comment-metadata time {
  font-size: 80%;
}

.comment-navigation {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

.comment-reply-link,
#cancel-comment-reply-link {
  display: inline-block;
  font-size: 80%;
  font-weight: normal;
  color: #666;
  background-color: #f3f3f3;
  border-radius: 0.2rem;
  padding: 0 1rem;
}
.comment-reply-link:hover,
#cancel-comment-reply-link:hover {
  color: #666;
  text-decoration: none;
  background-color: #eee;
}

/* Comment Form */
.comment-respond {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

li .comment-respond {
  margin-block: 0.4rem;
}

.no-comments {
  color: #575757;
  font-size: 120%;
  text-align: center;
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

.comment-form [class*=comment-form-] {
  margin-block-start: 0.4rem;
}
.comment-form .required-field-message {
  display: block;
}
.comment-form .form-submit {
  text-align: center;
  margin-block-start: 0.8rem;
}
.comment-form .form-submit [type=submit] {
  padding: 0.6rem clamp(0.6rem, -2.8rem + 25.5vw, 4rem);
}
.comment-form p > label:first-child {
  display: block;
}
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form input[type=url] {
  width: clamp(60%, (var(--default-breakpoints-sm) + 1px - 100vw) * 1000, 100%);
}
.comment-form textarea {
  width: clamp(80%, (var(--default-breakpoints-md) + 1px - 100vw) * 1000, 100%);
}
.comment-form .page-template-sidebar-page textarea,
.comment-form .post-template-sidebar-post textarea {
  width: 100%;
}
.comment-form .comment-form-cookies-consent input[type=checkbox] {
  margin-inline-end: 0.6rem;
}
.comment-form .logged-in-as {
  margin: 0;
  font-size: 80%;
}
.comment-form .required {
  font-size: 80%;
  font-weight: bold;
  vertical-align: top;
  color: rgb(224, 32, 32);
}

@media screen and (width > 480px) {
  .comment-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0.6em;
  }
  .comment-form .comment-notes {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr;
  }
  .comment-form [class*=comment-form-],
  .comment-form .form-submit {
    grid-column: span 2;
    display: grid;
    grid: inherit;
    grid-template-columns: 6em 1fr;
    grid-column-gap: inherit;
  }
  .comment-form .comment-form-cookies-consent {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 6em 1fr;
  }
  .comment-form .comment-form-cookies-consent input[type=checkbox] {
    margin-inline-start: auto;
    margin-inline-end: 0;
  }
  .comment-form .form-submit {
    display: initial;
  }
  .comment-form p > label:first-child {
    display: initial;
    text-align: end;
  }
}
/* WP Block */
:is(.entry-content,
.entry-summary,
.comment-content,
.stack,
.article-inner) > * + [class*=wp-block-]:not(.wp-block-separator):not(.wp-block-group) {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

:is(.wp-block-column,
.wp-block-cover__inner-container,
.wp-block-group__inner-container) > * {
  margin-block-start: var(--first-stack-gap-top);
  margin-block-end: var(--first-stack-gap-bottom);
}
:is(.wp-block-column,
.wp-block-cover__inner-container,
.wp-block-group__inner-container) > * + *:not([class*=wp-block-]),
:is(.wp-block-column,
.wp-block-cover__inner-container,
.wp-block-group__inner-container) > * + [class*=wp-block-]:not(.wp-block-separator):not(.wp-block-group) {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

hr.wp-block-separator {
  margin-block: calc(var(--default-stack-gap) * 3);
  height: 0;
}

@media screen and (width > 896px) {
  :is(.entry-content,
  .entry-summary) :is(h1, h2, h3, h4, h5, h6,
  [class*=wp-block-]).alignwide {
    width: 94vw;
    max-width: 94vw;
    position: relative;
    inset-inline: 50%;
    margin-inline: -47vw;
  }
}
:is(.entry-content,
.entry-summary) :is(h1, h2, h3, h4, h5, h6,
[class*=wp-block-]).alignfull {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  inset-inline: 50%;
  margin-inline: -50vw;
}
@media screen and (width > 896px) {
  :is(.entry-content,
  .entry-summary) [class*=wp-block-] :is(.wp-block-group__inner-container,
  .wp-block-embed__wrapper) > iframe {
    width: 100%;
  }
}

@media screen and (width > 896px) {
  :is(.page-template-sidebar-page,
  .post-template-sidebar-post,
  .archive-template-index-sidebar,
  .archive-template-archive-sidebar) :is(.entry-content,
  .entry-summary) :is(h1, h2, h3, h4, h5, h6,
  [class*=wp-block-]).alignwide, :is(.page-template-sidebar-page,
  .post-template-sidebar-post,
  .archive-template-index-sidebar,
  .archive-template-archive-sidebar) :is(.entry-content,
  .entry-summary) :is(h1, h2, h3, h4, h5, h6,
  [class*=wp-block-]).alignfull {
    width: 100%;
    max-width: 100%;
    position: relative;
    inset-inline: 0;
    margin-inline: 0;
  }
}
@media (min-width: 600px) {
  .wp-block-columns {
    margin-inline: 0;
  }
  .wp-block-column {
    flex-basis: initial;
    flex-grow: initial;
  }
}
@media screen and (width > 480px) {
  .wp-block-column {
    flex-basis: calc(50% - 16px);
    flex-grow: 0;
  }
}
.wp-block-button {
  line-height: normal;
}
.wp-block-button .wp-block-button__link {
  border: 2px solid;
  border-color: transparent;
  padding: 8px 20px;
}
.wp-block-button .wp-block-button__link:hover {
  opacity: 0.8;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  border-color: currentColor;
}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background):hover {
  background: #f4f4f4;
  opacity: 1;
}

.wp-block-latest-posts {
  padding-inline-start: 0;
}

.wp-block-image img,
.wp-block-post-featured-image img {
  display: block;
}

figure.aligncenter img {
  clear: both;
  margin-inline: auto;
}

.wp-block-gallery.alignleft {
  max-width: initial;
  justify-content: flex-start;
}
.wp-block-gallery.alignright {
  max-width: initial;
  justify-content: flex-end;
}
.wp-block-gallery.aligncenter {
  clear: both;
  margin-inline: initial;
  justify-content: center;
}

.blocks-gallery-caption {
  text-align: initial;
}

[class*=wp-block-] figcaption {
  text-align: initial;
}

body:not(.page-template-sidebar-page):not(.post-template-sidebar-post):not(.archive-template-index-sidebar):not(.archive-template-archive-sidebar) [class*=wp-block-].alignfull figcaption {
  margin-inline: var(--default-stack-gap);
}

@media screen and (width <= 896px) {
  :is(.page-template-sidebar-page,
  .post-template-sidebar-post,
  .archive-template-index-sidebar,
  .archive-template-archive-sidebar) [class*=wp-block-].alignfull figcaption {
    margin-inline: var(--default-stack-gap);
  }
}
.wp-block-quote {
  margin-block-end: 0;
  border: none;
  padding: var(--default-stack-gap);
}
.wp-block-quote.has-text-align-left {
  border: 1px solid var(--default-border-color);
  border-inline-start: 4px solid var(--default-border-color);
}
.wp-block-quote.has-text-align-center {
  border: 1px solid var(--default-border-color);
  padding: var(--default-stack-gap);
}
.wp-block-quote.has-text-align-right {
  border: 1px solid var(--default-border-color);
  border-inline-end: 4px solid var(--default-border-color);
  padding: var(--default-stack-gap);
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  padding: var(--default-stack-gap);
}
.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {
  font-style: initial;
}
.wp-block-quote.is-large cite, .wp-block-quote.is-style-large cite {
  font-size: 13px;
}

.wp-block-table th,
.wp-block-table td {
  border-color: inherit;
}
.wp-block-table thead {
  border-block-end: 1px solid;
  border-color: inherit;
}
.wp-block-table tfoot {
  border-block-start: 1px solid;
  border-color: inherit;
}
.wp-block-table.alignwide table, .wp-block-table.alignfull table {
  width: 100%;
}

.wp-block-cover > .wp-block-cover__inner-container {
  max-width: 100%;
  margin-inline: auto;
}
.wp-block-cover.alignfull {
  padding-inline: 0;
}
.wp-block-cover.alignfull > .wp-block-cover__inner-container {
  padding-inline: var(--default-stack-gap);
}

.wp-block-group > .wp-block-group__inner-container {
  max-width: 100%;
  margin-inline: auto;
}

.wp-block-group__inner-container .wp-block-group > .wp-block-group__inner-container {
  width: 100%;
  max-width: initial;
  margin-inline: initial;
}

.wp-block-group.alignfull.inner-alignfull > .wp-block-group__inner-container {
  width: 100vw;
  max-width: 100vw;
  position: relative;
  padding-inline: 0;
}
.wp-block-group.alignfull.inner-alignwide > .wp-block-group__inner-container {
  width: 94vw;
  max-width: 94vw;
  position: relative;
  padding-inline: 0;
}

.wp-block-latest-comments {
  padding-inline-start: 0;
}

.wp-block-latest-comments__comment {
  margin-block-end: 0;
}

.wp-block-latest-comments__comment-excerpt p {
  margin: 0;
}

.wp-block-search__inside-wrapper {
  max-width: 100%;
  width: 100%;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  border: 2px solid var(--default-border-color);
  background: #fff;
}

.wp-block-search__button {
  margin-inline-start: 0.4rem;
}

@media screen and (width <= 600px) {
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    margin-block-start: var(--default-stack-gap);
    padding: 0;
  }
}
/* WordPress */
.wp-caption,
.gallery-caption,
.sticky,
.bypostauthor {
  background-color: transparent;
}

.wp-caption {
  width: 100% !important;
  max-width: 100%;
}

.wp-caption-text {
  color: #666;
}

.alignleft {
  float: right;
  margin-inline-end: var(--default-stack-gap);
}

.alignright {
  float: left;
  margin-inline-start: var(--default-stack-gap);
}

.aligncenter {
  clear: both;
  margin-inline: auto;
}

.edit-link {
  display: inline-block;
  font-size: 80%;
  font-weight: normal;
  color: #666;
  background-color: #f3f3f3;
  border-radius: 0.2rem;
  padding: 0 0.4rem;
}
.edit-link:hover {
  color: #666;
  text-decoration: none;
  background-color: #eee;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  overflow-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  inset-inline-start: 5px;
  inset-block-start: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.post-password-form p:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  width: -moz-fit-content;
  width: fit-content;
}
.post-password-form label {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.4rem;
  align-items: baseline;
}
.post-password-form input[type=password] {
  width: 100%;
  max-width: 200px;
}

/* Top Page */
.site-header-image {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}
.site-header-image img {
  display: block;
  width: 100%;
}

/* Entry */
:is(.main-container,
.main-container > article) > *:not(.screen-reader-text) {
  margin-block-start: var(--first-stack-gap-top);
  margin-block-end: var(--first-stack-gap-bottom);
}
:is(.main-container,
.main-container > article) > *:not(.screen-reader-text) + * {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

:is(.entry-content,
.entry-summary,
.comment-content,
.stack,
.article-inner) > * {
  margin-block-start: var(--first-stack-gap-top);
  margin-block-end: var(--first-stack-gap-bottom);
}
:is(.entry-content,
.entry-summary,
.comment-content,
.stack,
.article-inner) > * + *:not([class*=wp-block-]) {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

.entry-content,
.entry-summary {
  display: flow-root;
}
.entry-content > * + .more-link,
.entry-summary > * + .more-link {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}
.entry-content .wp-caption-text,
.entry-summary .wp-caption-text {
  margin-block-start: initial;
}

.page-header h1 {
  font-size: 100%;
}
article.toppage .entry-header {
  display: none;
}
.entry-title {
  color: #222;
}
.entry-title a {
  color: #222;
  text-decoration: none;
}
.entry-title a:hover, .entry-title a:focus, .entry-title a:active {
  color: var(--custom-link-text-hover-color, var(--default-link-text-hover-color));
}

.entry-meta {
  color: #666;
  font-size: 80%;
}
.entry-meta > span {
  margin-inline-end: 1.2rem;
}
.entry-meta i {
  margin-inline-end: 0.2rem;
}

.more-link {
  display: inline-block;
  padding: 0.6rem 1rem;
  background-color: #fff;
  border: 1px solid var(--default-border-color);
  border-radius: 0.2rem;
}
.more-link:hover {
  background-color: #f5f5f5;
}

/* = article-left= */
.main-container[data-archive-layout=article-left] .entry-header {
  margin-block-start: initial;
}

@media screen and (width > 480px) {
  .main-container[data-archive-layout=article-left] .post-thumbnail + .entry-header {
    margin-block-start: 0;
  }
  .main-container[data-archive-layout=article-left] .entry-footer {
    clear: both;
  }
  .main-container[data-archive-layout=article-left] .wp-post-image {
    float: left;
    margin-inline: 1.2rem;
    width: 40%;
  }
}
/* = article-right = */
.main-container[data-archive-layout=article-right] article {
  display: grid;
  grid-template-columns: 1fr;
}
.main-container[data-archive-layout=article-right] .post-thumbnail {
  display: grid;
  place-items: start;
}

@media screen and (width > 480px) {
  .main-container[data-archive-layout=article-right] article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem var(--default-stack-gap);
  }
  .main-container[data-archive-layout=article-right] .entry-header {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: initial;
  }
  .main-container[data-archive-layout=article-right] .post-thumbnail {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: initial;
  }
  .main-container[data-archive-layout=article-right] .article-inner {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: initial;
  }
  .main-container[data-archive-layout=article-right] .entry-footer {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: initial;
  }
}
/* = card = */
.main-container[data-archive-layout=card] .archive-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1.2rem;
  width: min(100%, var(--default-layout-width, 800px));
  margin-inline: auto;
  margin-block-end: var(--default-stack-gap);
  padding-inline: var(--default-stack-gap);
}
.main-container[data-archive-layout=card] article {
  display: grid;
  grid-template-rows: max-content auto;
  border: 1px solid var(--default-border-color);
}
.main-container[data-archive-layout=card] .article-inner {
  display: grid;
  grid-template-rows: max-content max-content auto;
  padding: 0.6em;
}
.main-container[data-archive-layout=card] .post-thumbnail {
  line-height: 0;
}
.main-container[data-archive-layout=card] .wp-post-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
}
.main-container[data-archive-layout=card] .entry-title {
  font-size: 140%;
}
.main-container[data-archive-layout=card] .entry-footer {
  align-self: end;
}

@media screen and (width > 896px) {
  .archive-template-index-sidebar .main-container[data-archive-layout=card] .archive-container,
  .archive-template-archive-sidebar .main-container[data-archive-layout=card] .archive-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
    padding-inline: initial;
  }
}
/* = topics = */
.main-container[data-archive-layout=topics] article {
  display: grid;
  grid-template-columns: 1fr;
}
.main-container[data-archive-layout=topics] .post-thumbnail {
  display: grid;
  place-items: center;
  line-height: 0;
}
.main-container[data-archive-layout=topics] .article-inner {
  margin-block-start: 0;
}

@media screen and (width > 480px) {
  .main-container[data-archive-layout=topics] article {
    grid-template-columns: max-content auto;
    gap: 1rem;
  }
  .main-container[data-archive-layout=topics] .post-thumbnail {
    place-items: start;
  }
}
:is(.main-container[data-archive-layout=article-right],
.main-container[data-archive-layout=card]) :is(.entry-content,
.entry-summary) > [class*=wp-block-].alignwide, :is(.main-container[data-archive-layout=article-right],
.main-container[data-archive-layout=card]) :is(.entry-content,
.entry-summary) > [class*=wp-block-].alignfull {
  width: 100%;
  max-width: 100%;
  position: relative;
  inset-inline: 0;
  margin-inline: 0;
}

.excerpt-type-none .entry-content {
  display: none;
}
.excerpt-type-none .entry-footer {
  margin: 0;
}

/* widget */
.widget {
  margin-block-start: var(--first-stack-gap-top);
  margin-block-end: var(--first-stack-gap-bottom);
}
.widget + .widget {
  margin-block-start: var(--stack-gap-top);
  margin-block-end: var(--stack-gap-bottom);
}

.widget > * {
  margin-block-start: var(--first-stack-gap-top);
  margin-block-end: var(--first-stack-gap-bottom);
}
.widget > * + * {
  margin-block-start: calc(var(--default-stack-gap) / 2);
}

.widget-title {
  font-size: var(--default-extra-large-font-size, 160%);
  line-height: var(--default-extra-large-line-height, 1.6);
}

.calendar_wrap {
  font-size: 80%;
}
.calendar_wrap :is(th,
td) {
  padding: 0.4rem;
  text-align: center;
}

.search-form {
  display: flex;
  gap: 0.4rem;
  width: -moz-fit-content;
  width: fit-content;
}
.search-form label {
  display: flex;
  flex-wrap: wrap;
}

.search-field {
  width: 100%;
}

.wp-calendar-table {
  width: 100%;
}
.wp-calendar-table th {
  font-weight: 400;
  text-align: center;
  background: #edeff0;
}
.wp-calendar-table td {
  white-space: nowrap;
}

.wp-calendar-nav {
  display: flex;
}

.wp-calendar-nav-next {
  margin-inline-start: auto;
}
