parameters:
  level: 5
  treatPhpDocTypesAsCertain: false
  paths:
    - ./
  excludePaths:
    - ./src
    - ./tests
    - ./vendor
    - ./node_modules
  bootstrapFiles:
    - ./tests/phpunit/bootstrap.php
