// Built-In Modules
@use 'sass:math';

// Included Modules
@use '../variable';
@use '../function/calc-stack';

body {
	font-size: var(--custom-font-size, variable.$default-font-size);
	line-height: var(--custom-line-height, variable.$default-line-height);
	color: var(--custom-font-color, variable.$default-font-color);
	font-family: var(--custom-font-family-base, variable.$default-font-family);

	background-color: var(--custom-background-color, variable.$default-editor-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--custom-font-family-headings, variable.$default-font-family);
	font-weight: bold;
	line-height: variable.$default-line-height;

	> small {
		font-size: 75%;
		font-weight: normal;
	}
}

h1 {
	font-size: 220%;
	line-height: calc-stack.line-height(math.div(variable.$default-line-space, 2), 220%, variable.$default-base-font-size);
}
h2 {
	font-size: 180%;
	line-height: calc-stack.line-height(math.div(variable.$default-line-space, 2), 180%, variable.$default-base-font-size);
}
h3 {
	font-size: 160%;
	line-height: calc-stack.line-height(math.div(variable.$default-line-space, 2), 160%, variable.$default-base-font-size);
}
h4 {
	font-size: 125%;
	line-height: calc-stack.line-height(math.div(variable.$default-line-space, 2), 125%, variable.$default-base-font-size);
}
h5 {
	font-size: 100%;
	line-height: calc-stack.line-height(math.div(variable.$default-line-space, 2), 100%, variable.$default-base-font-size);
}
h6 {
	font-size: 80%;
	line-height: calc-stack.line-height(math.div(variable.$default-line-space, 2), 80%, variable.$default-base-font-size);
}

a {
	color: var(--custom-link-text-color, variable.$default-link-text-color);
	text-decoration: none;

	&:focus,
	&:active,
	&:hover {
		color: var(--custom-link-text-hover-color, variable.$default-link-text-hover-color);
		text-decoration: underline;
	}
}

table {
	border-collapse: collapse;
	border: 1px solid;
	border-color: variable.$default-border-color;
}
th,
td {
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: unset;
	border-color: inherit;
	padding: .6rem;
}
th {
	font-weight: bold;
	text-align: left;
}
th:not(.has-text-align-right):not(.has-text-align-center):not(.has-text-align-left) {
	text-align: left;
}
thead {
	border-bottom: 1px solid;
	border-color: inherit;
}
tfoot {
	border-top: 1px solid;
	border-color: inherit;
}

ul {
	list-style-type: disc;

	&.no-style {
		list-style: none;
		padding-left: 0;
	}
}

dt {
	font-weight: bold;
}
dd {
	margin-left: 2rem;
}

blockquote {
	padding: variable.$default-stack;
	background-color: #f4f4f4;
	border-radius: .2rem;
}

code,
pre,
kbd {
	font-family: Menlo, Monaco, "Courier New", monospace;
}

code,
kbd {
	padding: .2rem;
	border-radius: .2rem;
}
code {
	color: #6f6f6f;
	background-color: #f4f4f4;
}
kbd {
	color: #fff;
	background-color: #333;
}
