@mixin first-stack() {
	margin-top: var(--first-stack-top, unset);
	margin-bottom: var(--first-stack-bottom, unset);
}

@mixin stack() {
	margin-top: var(--stack-top, unset);
	margin-bottom: var(--stack-bottom, unset);
}

@mixin last-stack() {
	margin-top: var(--last-stack-top, unset);
	margin-bottom: var(--last-stack-bottom, unset);
}

@mixin stack-multi--by2() {
	margin-top: calc(var(--first-stack-top, unset) * 2);
	margin-bottom: calc(var(--first-stack-bottom, unset) * 2);
}

@mixin stack-multi--by4() {
	margin-top: calc(var(--first-stack-top, unset) * 4);
	margin-bottom: calc(var(--first-stack-bottom, unset) * 4);
}

@mixin stack-divi--by2() {
	margin-top: calc(var(--first-stack-top, unset) / 2);
	margin-bottom: calc(var(--first-stack-bottom, unset) / 2);
}

@mixin none-stack() {
	margin-top: 0;
}

@mixin unset-stack() {
	margin-top: unset;
}

@mixin reverse-stack() {
	margin-top: var(--stack-bottom, unset);
	margin-bottom: var(--stack-top, unset);
}
