// Included Modules
@use '../variable';

@mixin alignleft() {
	float: left;
	margin-inline-end: var(--default-stack-gap);
}

@mixin alignright() {
	float: right;
	margin-inline-start: var(--default-stack-gap);
}

@mixin aligncenter() {
	clear: both;
	margin-inline: auto;
}
