// Built-In Modules
@use 'sass:map';

// Included Modules
@use '../variable';
@use '../mixin/stack';

/* Comment */
.comments-title,
.comment-reply-title {
	font-size: 125%;
}
.comment-list {
	list-style: none;
	padding-left: 0;

	.children {
		list-style: inherit;
		padding-left: .8rem;
	}

	.comment,
	.trackback,
	.pingback {
		border-top: 1px solid variable.$default-border-color;
	}
	> .comment:last-child,
	> .trackback:last-child,
	> .pingback:last-child {
		border-bottom: 1px solid variable.$default-border-color;
	}

	.comment-body {
		margin-top: .4rem;
		margin-bottom: .4rem;
	}
	.reply {
		text-align: right;
	}
	.avatar {
		width: 28px;
		border-radius: 50%;
		margin-right: .2em;
	}

	/* Post author highlighting */
	> .bypostauthor {
		border-top: 1px solid variable.$default-border-color;
		.comment-meta {
			color: #575757;
		}
		/* Post Author threaded comments */
		.children > & {
			border-top: 1px solid variable.$default-border-color;
		}
	}
}

.comment-metadata time {
	font-size: 80%;
}

.comment-navigation {
	@include stack.stack;
}

.comment-reply-link,
#cancel-comment-reply-link {
	display: inline-block;
	font-size: 80%;
	font-weight: normal;
	color: #666;
	background-color: #f3f3f3;
	border-radius: .2rem;
	padding: 0 1rem;

	&:hover {
		color: #666;
		text-decoration: none;
		background-color: #eee;
	}
}

/* Comment Form */
.comment-respond {
	@include stack.stack;
	margin-bottom: .4rem;
}

li .comment-respond {
	margin-top: .4rem;
	margin-bottom: .4rem;
}

.no-comments {
	color: #575757;
	font-size: 120%;
	text-align: center;
	@include stack.stack;
}

.comment-form {
	[class*="comment-form-"] {
		margin-top: .4rem;
	}

	.required-field-message {
		display: block;
	}

	.form-submit {
		text-align: center;
		margin-top: .8rem;

		[type="submit"] {
			padding: .6rem 4rem;
		}
	}

	input[type='text'],
	input[type='email'],
	input[type='url'] {
		max-width: 100%;
	}

	textarea {
		width: 100%;
		max-width: 100%;
	}

	.comment-form-cookies-consent {
		input[type='checkbox'] {
			margin-right: .6rem;
		}
	}

	.logged-in-as {
		margin: 0;
		font-size: 80%;
	}
	.required {
		font-size: 80%;
		font-weight: bold;
		vertical-align: top;
		color: rgb(224, 32, 32);
	}
}

@media screen and (min-width: #{map.get(variable.$default-breakpoints, xs ) + 1px} ) {
	.comment-form {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: .6em;

		.comment-notes {
			grid-column: span 2;
			display: grid;
			grid-template-columns: 1fr;

		}

		[class*="comment-form-"],
		.form-submit {
			grid-column: span 2;
			display: grid;
			grid: inherit;
			grid-template-columns: 6em 1fr;
			grid-column-gap: inherit;
		}

		.comment-form-cookies-consent {
			grid-column: span 2;
			display: grid;
			grid-template-columns: 6em 1fr;

			input[type='checkbox'] {
				margin-left: auto;
				margin-right: 0;
			}
		}

		.form-submit {
			display: unset;
		}

		p > label:first-child {
			display: unset;
			text-align: right;
		}

		input[type='text'],
		input[type='email'],
		input[type='url'] {
			max-width: 60%;
		}
	}
}

.comment-form {
	@media screen and (min-width: #{map.get(variable.$default-breakpoints, sm ) + 1px} ) {
		textarea {
			.page-template-sidebar-page &,
			.post-template-sidebar-post & {
				width: 100%;
				max-width: 100%;
			}
		}
	}
	@media screen and (min-width: #{map.get(variable.$default-breakpoints, md ) + 1px} ) {
		textarea {
			width: 80%;
			max-width: 80%;
		}
	}
}
