// Built-In Modules
@use 'sass:map';

// Included Modules
@use '../variable';
@use '../mixin/stack';

// Custom Modules
@use '../../../node_modules/flexbox-grid-mixins/dart-sass/flexbox-grid-mixins';

/* Comment */
.comments-title,
.comment-reply-title {
	font-size: 125%;
}
.comment-list {
	list-style: none;
	padding-inline-start: 0;

	.children {
		list-style: inherit;
		padding-inline-start: .8rem;
	}

	.comment,
	.trackback,
	.pingback {
		border-block-start: 1px solid var(--default-border-color);
	}
	> .comment:last-child,
	> .trackback:last-child,
	> .pingback:last-child {
		border-block-end: 1px solid var(--default-border-color);
	}

	.comment-body {
		margin-block: 1rem;
	}
	.reply {
		text-align: end;
	}
	.avatar {
		border-radius: 50%;
		margin-inline-end: .1em;
		vertical-align: bottom;
	}

	.comment-meta {
		@include flexbox-grid-mixins.grid($flex-flow: column nowrap, $justify-content: left, $align-items: start);
		@media screen and (width > map.get(variable.$default-breakpoints, xs)) {
			@include flexbox-grid-mixins.grid($flex-flow: row, $justify-content: space-between, $align-items: center);
		}
	}

	/* Post author highlighting */
	> .bypostauthor {
		border-block-start: 1px solid var(--default-border-color);
		.comment-meta {
			color: #575757;
		}
		/* Post Author threaded comments */
		.children > & {
			border-block-start: 1px solid var(--default-border-color);
		}
	}
}

.comment-metadata time {
	font-size: 80%;
}

.comment-navigation {
	@include stack.stack;
}

.comment-reply-link,
#cancel-comment-reply-link {
	display: inline-block;
	font-size: 80%;
	font-weight: normal;
	color: #666;
	background-color: #f3f3f3;
	border-radius: .2rem;
	padding: 0 1rem;

	&:hover {
		color: #666;
		text-decoration: none;
		background-color: #eee;
	}
}

/* Comment Form */
.comment-respond {
	@include stack.stack;
}

li .comment-respond {
	margin-block: .4rem;
}

.no-comments {
	color: #575757;
	font-size: 120%;
	text-align: center;
	@include stack.stack;
}

.comment-form {
	[class*="comment-form-"] {
		margin-block-start: .4rem;
	}

	.required-field-message {
		display: block;
	}

	.form-submit {
		text-align: center;
		margin-block-start: .8rem;

		[type="submit"] {
			padding: .6rem clamp( 0.6rem, -2.8rem + 25.5vw, 4rem );
		}
	}

	p > label:first-child {
		display: block;
	}

	input[type='text'],
	input[type='email'],
	input[type='url'] {
		width: clamp( 60%, (var(--default-breakpoints-sm) + 1px - 100vw) * 1000, 100% );
	}

	textarea {
		width: clamp( 80%, (var(--default-breakpoints-md) + 1px - 100vw) * 1000, 100% );
	}
	.page-template-sidebar-page textarea,
	.post-template-sidebar-post textarea {
		width: 100%;
	}

	.comment-form-cookies-consent {
		input[type='checkbox'] {
			margin-inline-end: .6rem;
		}
	}

	.logged-in-as {
		margin: 0;
		font-size: 80%;
	}
	.required {
		font-size: 80%;
		font-weight: bold;
		vertical-align: top;
		color: rgb(224, 32, 32);
	}
}

@media screen and (width > map.get(variable.$default-breakpoints, xs)) {
	.comment-form {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: .6em;

		.comment-notes {
			grid-column: span 2;
			display: grid;
			grid-template-columns: 1fr;
		}

		[class*="comment-form-"],
		.form-submit {
			grid-column: span 2;
			display: grid;
			grid: inherit;
			grid-template-columns: 6em 1fr;
			grid-column-gap: inherit;
		}

		.comment-form-cookies-consent {
			grid-column: span 2;
			display: grid;
			grid-template-columns: 6em 1fr;

			input[type='checkbox'] {
				margin-inline-start: auto;
				margin-inline-end: 0;
			}
		}

		.form-submit {
			display: initial;
		}

		p > label:first-child {
			display: initial;
			text-align: end;
		}
	}
}
