/* editor-color-palette */
:root {
	.has-crimson-color {
		color: #dc143c;
	}
	.has-crimson-background-color {
		background-color: #dc143c;
	}
	.has-light-pink-color {
		color: #ffb6c1;
	}
	.has-light-pink-background-color {
		background-color: #ffb6c1;
	}
	.has-dark-orange-color {
		color: #ff8c00;
	}
	.has-dark-orange-background-color {
		background-color: #ff8c00;
	}
	.has-medium-seagreen-color {
		color: #3cb371;
	}
	.has-medium-seagreen-background-color {
		background-color: #3cb371;
	}
	.has-deep-skyblue-color {
		color: #00bfff;
	}
	.has-deep-skyblue-background-color {
		background-color: #00bfff;
	}
	.has-blue-violet-color {
		color: #8a2be2;
	}
	.has-blue-violet-background-color {
		background-color: #8a2be2;
	}

	.has-white-color {
		color: #ffffff;
	}
	.has-white-background-color {
		background-color: #ffffff;
	}
	.has-snow-color {
		color: #fffafa;
	}
	.has-snow-background-color {
		background-color: #fffafa;
	}
	.has-very-light-gray-color {
		color: #eeeeee;
	}
	.has-very-light-gray-background-color {
		background-color: #eeeeee;
	}
	.has-light-gray-color {
		color: #abb8c3;
	}
	.has-light-gray-background-color {
		background-color: #abb8c3;
	}
	.has-dark-gray-color {
		color: #a9a9a9;
	}
	.has-dark-gray-background-color {
		background-color: #a9a9a9;
	}
	.has-black-color {
		color: #000000;
	}
	.has-black-background-color {
		background-color: #000000;
	}
}
