// Built-In Modules
@use 'sass:map';

// Custom Modules
@use '../../../node_modules/flexbox-grid-mixins/dart-sass/flexbox-grid-mixins';

// Included Modules
@use '../variable';
@use '../mixin/stack';

/* Entry */
.main-container {
	@include flexbox-grid-mixins.grid($flex-flow: column nowrap);
}

.main-container,
.main-container article:not(.comment-body) {
	> *:not(.screen-reader-text) {
		@include stack.first-stack;

		+ * {
			@include stack.stack;
		}
	}
}

// stack setting
.entry-content,
.entry-summary,
.comment-body {
	* {
		@include stack.first-stack;

		+ h1, + h2, + h3, + h4, + h5, + h6,
		+ p,
		+ table,
		+ ul,
		+ ol,
		+ dl,
		+ blockquote,
		+ pre {
			@include stack.stack;
		}
	}

	li > ul,
	li > ol {
		@include stack.unset-stack;
	}
}

.entry-content,
.entry-summary {
	display: flow-root;

	* {
		+ .more-link {
			@include stack.stack;
		}
	}

	.wp-caption-text,
	.page-links * {
		@include stack.unset-stack;
	}
}

.page-header {
	h1 {
		font-size: 100%;
	}
	p {}
}

.entry-header {
	article.toppage & {
		display: none;
	}

	.entry-title {}
	.entry-meta {}
}

.entry-title {
	color: #222;
	word-break: break-word;

	a {
		color: #222;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			color: var(--custom-link-text-hover-color, variable.$default-link-text-hover-color);
		}
	}
}

.entry-footer {}

.entry-meta {
	color: #666;
	font-size: 80%;

	> span {
		margin-right: 1.2rem;
	}
	i {
		margin-right: .2rem;
	}
}

.more-link {
	display: inline-block;
	padding: .6rem 1rem;
	background-color: #fff;
	border: 1px solid variable.$default-border-color;
	border-radius: .2rem;

	&:hover {
		background-color: #f5f5f5;
	}
}

/* = article-left= */
.main-container[data-archive-layout="article-left"] {
	.entry-header {
		@include stack.unset-stack;
	}
}
@media screen and (min-width: #{map.get(variable.$default-breakpoints, xs ) + 1px} ) {
	.main-container[data-archive-layout="article-left"] {
		.wp-post-image {
			float: right;
			margin: 0 0 1.2em 1.2em;
			width: 40%;
		}

		article .post-thumbnail + .entry-header {
			margin-top: 0;
		}
	}
}

/* = article-right = */
.main-container[data-archive-layout="article-right"] {
	article {
		@include flexbox-grid-mixins.grid($flex-direction: column, $flex-wrap: wrap, $justify-content: space-between, $align-items: flex-start);
	}

	.article-inner {
		.entry-footer {
			@include stack.stack;
		}
	}
	.post-thumbnail {
		@include flexbox-grid-mixins.grid-col($flex-basis: 160px, $align-self: center);
	}
}

@media screen and (min-width: #{map.get(variable.$default-breakpoints, xs ) + 1px} ) {
	.main-container[data-archive-layout="article-right"] {
		article {
			@include flexbox-grid-mixins.grid($flex-direction: row, $flex-wrap: wrap, $justify-content: space-between);
		}
		.entry-header {
			@include flexbox-grid-mixins.grid-col($col: 1, $grid-columns: 1);
		}
		.article-inner {
			@include flexbox-grid-mixins.grid-col($col: 0, $flex-shrink: 1, $flex-grow: 1);
		}
		.post-thumbnail {
			@include flexbox-grid-mixins.grid-col($flex-basis: 310px, $flex-shrink: 0, $flex-grow: 0, $align-self: unset);
		}
		.wp-post-image {
			width: unset;
		}
	}
}

/* = card = */
.main-container[data-archive-layout="card"] {
	.archive-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: 1fr;
		grid-gap: 1.2rem;

		width: 100%;
		max-width: variable.$default-layout-width;
		margin: 0 auto variable.$default-stack;
		padding-left: variable.$default-stack;
		padding-right: variable.$default-stack;
	}

	article {
		min-width: 0;
		border: 1px solid variable.$default-border-color;
		padding-left: 0;
		padding-right: 0;

		> .article-inner {
			@include stack.unset-stack;
			padding: .6em;

			> * {
				@include stack.first-stack;
				+ * {
					@include stack.stack;
				}
			}
		}
	}

	.post-thumbnail img {
		width: 100%;
	}
	.entry-title {
		font-size: 140%;
	}
}

@media screen and (min-width: #{map.get(variable.$default-breakpoints, md ) + 1px} ) {
	.archive-template-index-sidebar,
	.archive-template-archive-sidebar {
		.main-container[data-archive-layout="card"] {
			.archive-container {
				grid-template-columns: 1fr 1fr;
				grid-auto-rows: 1fr 1fr;
				padding-left: unset;
				padding-right: unset;
			}
		}
	}
}

@media screen and (min-width: #{map.get(variable.$default-breakpoints, xs ) + 1px} ) {
	.main-container[data-archive-layout="card"] {
		.archive-container {
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: 1fr 1fr;
		}
	}
}

@media screen and (min-width: #{map.get(variable.$default-breakpoints, sm ) + 1px} ) {
	.main-container[data-archive-layout="card"] {
		.archive-container {
			grid-template-columns: 1fr 1fr 1fr;
			grid-auto-rows: 1fr 1fr 1fr;
		}
	}
}

/* = topics = */
.main-container[data-archive-layout="topics"] {
	article.post {
		@include flexbox-grid-mixins.grid($flex-direction: column);
	}
	.post-thumbnail {
		@include flexbox-grid-mixins.grid-col($flex-basis: 160px, $align-self: center);
	}
	.article-inner {
		@include flexbox-grid-mixins.grid-col($col: auto);
		@include stack.stack;
	}
}

@media screen and (min-width: #{map.get(variable.$default-breakpoints, xs ) + 1px} ) {
	.main-container[data-archive-layout="topics"] {
		article.post {
			@include flexbox-grid-mixins.grid($flex-direction: row, $flex-wrap: nowrap, $justify-content: space-between, $align-items: flex-start);
		}
		.post-thumbnail {
			@include flexbox-grid-mixins.grid-col($flex-basis: 160px, $flex-shrink: 0, $flex-grow: 0, $align-self: unset);
		}
		.article-inner {
			@include flexbox-grid-mixins.grid-col($col: auto, $flex-shrink: 1, $flex-grow: 1);
			margin-top: 0;
		}
		article .post-thumbnail + .article-inner {
			margin-top: 0;
		}
		.wp-post-image {
			width: unset;
		}
	}
}

.main-container[data-archive-layout="article-right"],
.main-container[data-archive-layout="card"] {
	.entry-content,
	.entry-summary {
		> [class*="wp-block-"] {
			&.alignwide,
			&.alignfull {
				width: 100%;
				max-width: 100%;
				position: relative;
				left: 0;
				right: 0;
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.wp-post-image {
	width: 100%;
}
