// Built-In Modules
@use 'sass:map';

// Custom Modules
@use '../../../node_modules/flexbox-grid-mixins/dart-sass/flexbox-grid-mixins';

// Included Modules
@use '../variable';
@use '../mixin/stack';

/* Footer */
.site-footer {
	@include stack.stack;
	background-color: var(--custom-footer-background-color);
}

.footer-container {
	padding-block: var(--default-stack-gap);
}

.footer-widget {
	.widget-area {
		width: 100%;
	}
}

.theme-info {
	font-size: 80%;
	text-align: center;
	background-color: var(--custom-footer-background-color);
}
