/* Footer */
.site-footer {
	@extend .stack;
	background-color: var(--custom-footer-background-color, unset);
}

.footer-container {
	padding-top: $default-stack;
	padding-bottom: $default-stack;
}

.footer-widget {
	.widget-area {
		width: 100%;
	}
}

@media screen and (min-width: #{map-get($default-breakpoints, sm ) + 1px} ) {
	.footer-widget {
		@include grid($justify-content: space-between);

		&[data-column-ratio="one-to-one"] .widget-area {
			@include grid-col($col: 5.75);
			+ .widget-area {
				@include grid-col($col: 5.75);
			}
		}

		&[data-column-ratio="two-to-one"] .widget-area {
			@include grid-col($col: 7.5);
			+ .widget-area {
				@include grid-col($col: 4);
			}
		}

		&[data-column-ratio="one-to-two"] .widget-area {
			@include grid-col($col: 4);
			+ .widget-area {
				@include grid-col($col: 7.5);
			}
		}

	}
}

.theme-info {
	font-size: 80%;
	text-align: center;
	background-color: var(--custom-footer-background-color, unset);
}
