// Built-In Modules
@use 'sass:color';

// Included Modules
@use '../variable';

/* Form */
input[type=text],
input[type=email],
input[type=password],
input[type=url],
input[type=date],
input[type=datetime],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime-local],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=color],
select,
textarea {
	background-color: #fff;
	border: 2px solid variable.$default-border-color;
	margin: 0;
	padding: .2rem .4rem;
	outline: none;

	&:hover {}
	&:focus {
		background-color: #fefefe;
		border: 2px solid var(--custom-link-text-color, variable.$default-link-text-color);
	}
}

select {
	width: 100%;
	font-size: 100%;
	border: 2px solid #cacaca;
	color: #222222;
	background-color: transparent;
	border-radius: .2em;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select {
	background-image: url( 'data:image/svg+xml;utf8,<svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12"><polygon fill="color( display-p3 0.102 0.106 0.122 / 1 )" fill-rule="evenodd" points="1319.899 365.778 1327.678 358 1329.799 360.121 1319.899 370.021 1310 360.121 1312.121 358" transform="translate(-1310 -358)" /></svg>');
	background-repeat: no-repeat;
	background-position: calc( 100% - 1rem ) center;
	background-size: .9rem;
	position: relative;
}

textarea {
	overflow: auto;
	vertical-align: top;
}
input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
	background-color: #f5f5f5;
	cursor: not-allowed;
}

.btn {
	color: #fff;
	padding: .1rem 1rem;
	border: unset;
	background-color: variable.$default-button-background-color;
	cursor: pointer;
	line-height: variable.$default-line-height;
	font-size: 100%;
	text-decoration: none;
	box-sizing: border-box;
	outline: none;

	&:hover,
	&:focus {
		filter: opacity(80%);
	}
}

@mixin btn() {
	color: #fff;
	padding: .1rem 1rem;
	border: unset;
	background-color: variable.$default-button-background-color;
	cursor: pointer;
	line-height: variable.$default-line-height;
	font-size: 100%;
	text-decoration: none;
	box-sizing: border-box;
	outline: none;

	&:hover,
	&:focus {
		filter: opacity(80%);
	}
}

[type="button"],
[type="reset"],
[type="submit"] {
	@include btn;
}
