/* Global Menu */
.site-navi {
	width: 100%;
	margin: 0;
	padding: 0;
	background: #f9f9f9;

	ul {
		list-style: none;
		@include grid($flex-flow: column nowrap);
		padding-left: 0;
	}

	> ul > li a {
		color: var(--custom-primary-color, #333);
		border-bottom: 1px solid $default-border-color;
		background: #f9f9f9;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: #efefef;
		}
	}

	> ul > li > a {
		display: block;
		margin: 0;
		padding: .4rem;
		font-weight: bold;
	}

	> ul ul {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: auto;

		a {
			font-size: 90%;

			display: block;
			width: auto;
			padding-top: .4rem;
			padding-bottom: .4rem;
			padding-left: 1.2rem;
		}

		ul {
			left: 0;
			top: 0;

			a {
				padding-left: 2.4rem;
			}
			ul a {
				padding-left: 3.6rem;
			}
			ul ul a {
				padding-left: 4.8rem;
			}
		}
	}

	> ul > li.menu-arrow-icon i,
	> ul > li.menu-arrow-icon svg {
		display: none;
	}
	> ul ul > li.menu-arrow-icon i,
	> ul ul > li.menu-arrow-icon svg {
		display: none;
	}

}

.drawer {
	visibility: hidden;
	display: block;
	position: fixed;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 9998;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;

	/* easeOutCirc */
	transition: left 800ms cubic-bezier(0.075, 0.82, 0.165, 1);

	body.drawer--on & {
		visibility: visible;
		top: 0;
		left: 0;
	}
}

.drawer-btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 18px;
	right: 18px;
	left: auto;
	z-index: 9999;

	width: 42px;
	height: 42px;

	cursor: pointer;
	overflow: hidden;

	border-radius: 50%;
	background-color: rgb(245, 245, 245);

	body.drawer--on & {
		background-color: rgb(230, 230, 230);
	}

	svg {
		width: 28px;
		height: 28px;
		fill: #999;
	}
}

.drawer-overlay {
	display: none;

	body.drawer--on & {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9997;
		background: rgba(0, 0, 0, 0.4);
	}
}

body.drawer--on {
	overflow: hidden;
}

.admin-bar {
	.drawer {
		top: 46px;
		height: calc(100% - 46px);
	}
	.drawer-btn {
		top: 46px + 18px;
	}
}
body.admin-bar.drawer--on .drawer,
body.admin-bar.drawer--on .drawer-overlay {
	top: 46px;
}

@media screen and (min-width: 782px) {
	.admin-bar {
		.drawer {
			top: 32px;
			height: calc(100% - 32px);
		}
		.drawer-btn {
			top: 32px + 18px;
		}
	}
	body.admin-bar.drawer--on .drawer,
	body.admin-bar.drawer--on .drawer-overlay {
		top: 32px;
	}
}

@media screen and (min-width: #{map-get($default-breakpoints, xs ) + 1px} ) {
	.drawer {
		width: 75%;
	}
}

@media screen and (min-width: #{map-get($default-breakpoints, sm ) + 1px} ) {
	.drawer {
		width: 50%;
	}
}

@media screen and (min-width: #{map-get($default-breakpoints, md ) + 1px} ) {
	.drawer {
		visibility: visible;
	}

	.site-navi {
		margin-left: auto;
		margin-right: auto;
		padding-left: $default-layout-padding;
		padding-right: $default-layout-padding;
		background: none;

		ul {
			@include grid($flex-flow: row wrap);
			margin: 0 $default-layout-margin;

			li {
				@include grid-col();
				position: relative;
				white-space: nowrap;
			}
		}

		> ul > li > a {
			color: var(--custom-primary-color, #333);
			margin-right: .4rem;
			padding-bottom: 0;
			background: none;
			position: relative;
			border-bottom: 2px solid transparent;

			&:hover,
			&:focus {
				opacity: .8;
				background-color: unset;
			}

			&:after {
				position: absolute;
				bottom: -2px;
				left: 0;
				content: '';
				width: 100%;
				height: 2px;
				background: var(--custom-primary-color, #333);
				transform: scale(0, 0);
				transform-origin: center top;
				transition-property: width;
				transition: transform .4s;
			}
			&:hover:after {
				transform: scale(1, 1);
			}
		}

		> ul > li.current-menu-item > a {
			border-bottom: 2px solid var(--custom-primary-color, #333);
		}

		> ul li:hover > ul,
		> ul li.focus > ul {
			left: auto;
		}

		> ul ul li:hover > ul,
		> ul ul li.focus > ul {
			left: 100%;
		}

		> ul ul {
			@include grid($flex-flow: column nowrap);
			margin: 0;
			position: absolute;
			top: 2.4rem;
			left: -99999rem;
			z-index: 99999;

			ul {
				left: -99999rem;
				top: 0;
			}
			li {
				white-space: normal;
			}

			a {
				width: 200px;
				font-size: 80%;
				color: #444;

				&:hover,
				&:focus {
					background-color: #efefef;
				}
				&:active {
					background-color: #e5e5e5;
				}
			}

			a,
			ul a,
			ul ul a {
				padding: ($default-stack / 4) ($default-stack / 2);
			}

			.current-menu-item > a {
				font-weight: bold;
				color: #373737;
				background-color: #fff;
			}
		}

		> ul > li.menu-arrow-icon i,
		> ul > li.menu-arrow-icon svg {
			display: inline-block;
			font-size: 80%;
			margin-left: .2rem;
		}
		> ul ul > li.menu-arrow-icon i,
		> ul ul > li.menu-arrow-icon svg {
			display: inline-block;
			position: absolute;
			top: 35%;
			right:  4%;
		}

	}

	.drawer {
		position: static;
		overflow: visible;
		z-index: auto;
		width: 100%;
	}

	.drawer-btn {
		display: none;
	}

	body.drawer--on {
		overflow: visible;

		.drawer-overlay {
			display: none;
		}
	}
}
