// Built-In Modules
@use 'sass:map';

// Custom Modules
@use '../../../node_modules/flexbox-grid-mixins/dart-sass/flexbox-grid-mixins';

// Included Modules
@use '../variable';

/* Global Menu */
.site-navi {
	margin: 0;
	padding: 0;
	background: #f9f9f9;

	ul {
		list-style: none;
		@include flexbox-grid-mixins.grid($flex-flow: column nowrap);
		padding-inline-start: 0;
	}

	> ul > li a {
		color: var(--custom-primary-color, #333);
		border-block-end: 1px solid var(--default-border-color);
		background: #f9f9f9;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: #efefef;
		}
	}

	> ul > li > a {
		display: block;
		margin: 0;
		padding: .4rem;
		font-weight: bold;
	}

	> ul ul {
		display: block;
		position: relative;
		inset-block-start: 0;
		inset-inline-start: 0;
		width: auto;

		a {
			font-size: 90%;

			display: block;
			width: auto;
			padding-block: .4rem;
			padding-inline-start: 1.2rem;
		}

		ul {
			a {
				padding-inline-start: 2.4rem;
			}
			ul a {
				padding-inline-start: 3.6rem;
			}
			ul ul a {
				padding-inline-start: 4.8rem;
			}
		}
	}

	> ul > li i,
	> ul > li svg {
		display: none;
	}

}

.drawer {
	visibility: hidden;
	display: block;
	position: fixed;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 9998;
	inset-block-start: 0;
	inset-inline-start: -100%;
	width: 100%;
	height: 100%;

	/* easeOutCirc */
	transition: left 800ms cubic-bezier(0.075, 0.82, 0.165, 1);

	body.drawer--on & {
		visibility: visible;
		inset-block-start: 0;
		inset-inline-start: 0;
	}
}

.drawer-btn {
	display: grid;
	place-items: center;
	position: fixed;
	inset-block-start: 18px;
	inset-inline-end: 18px;
	z-index: 9999;

	width: 42px;
	aspect-ratio: 1;

	cursor: pointer;
	overflow: hidden;

	border-radius: 50%;
	background-color: rgb(245, 245, 245);

	body.drawer--on & {
		background-color: rgb(230, 230, 230);
	}

	svg {
		width: 28px;
		aspect-ratio: 1;
		fill: #999;
	}
}

.drawer-overlay {
	display: none;

	body.drawer--on & {
		display: block;
		position: fixed;
		inset-block-start: 0;
		inset-inline-start: 0;
		width: 100%;
		height: 100%;
		z-index: 9997;
		background: rgba(0, 0, 0, 0.4);
	}
}

body.drawer--on {
	overflow: hidden;
}

.admin-bar {
	.drawer {
		inset-block-start: 46px;
		height: calc(100% - 46px);
	}
	.drawer-btn {
		inset-block-start: calc(46px + 18px);
	}
}
body.admin-bar.drawer--on .drawer,
body.admin-bar.drawer--on .drawer-overlay {
	inset-block-start: 46px;
}

@media screen and (width >= 782px) {
	.admin-bar {
		.drawer {
			inset-block-start: 32px;
			height: calc(100% - 32px);
		}
		.drawer-btn {
			inset-block-start: calc(32px + 18px);
		}
	}
	body.admin-bar.drawer--on .drawer,
	body.admin-bar.drawer--on .drawer-overlay {
		inset-block-start: 32px;
	}
}

@media screen and (width > map.get(variable.$default-breakpoints, xs)) {
	.drawer {
		width: 75%;
	}
}

@media screen and (width > map.get(variable.$default-breakpoints, sm)) {
	.drawer {
		width: 50%;
	}
}

@media screen and (width > map.get(variable.$default-breakpoints, md)) {
	.drawer {
		visibility: visible;
	}

	.site-navi {
		margin-inline: auto;
		padding-inline: var(--default-stack-gap);
		background: none;

		ul {
			@include flexbox-grid-mixins.grid($flex-flow: row wrap);
			margin: 0;

			li {
				@include flexbox-grid-mixins.grid-col();
				position: relative;
				white-space: nowrap;
			}
		}

		> ul > li > a {
			color: var(--custom-primary-color, #333);
			margin-inline-end: .4rem;
			padding-block-end: 0;
			background: none;
			position: relative;
			border-block-end: 2px solid transparent;

			&:hover,
			&:focus {
				opacity: .8;
				background-color: initial;
			}

			&:after {
				position: absolute;
				inset-block-end: -2px;
				inset-inline-start: 0;
				content: '';
				width: 100%;
				height: 2px;
				background: var(--custom-primary-color, #333);
				transform: scale(0, 0);
				transform-origin: center top;
				transition-property: width;
				transition: transform .4s;
			}
			&:hover:after {
				transform: scale(1, 1);
			}
		}

		> ul > li.current-menu-item > a {
			border-block-end: 2px solid var(--custom-primary-color, #333);
		}

		> ul li:hover > ul,
		> ul li.focus > ul {
			inset-inline-start: auto;
		}

		> ul ul li:hover > ul,
		> ul ul li.focus > ul {
			inset-inline-start: 100%;
		}

		> ul ul {
			@include flexbox-grid-mixins.grid($flex-flow: column nowrap);
			margin: 0;
			position: absolute;
			inset-block-start: 2.15rem;
			inset-inline-start: -99999rem;
			z-index: 99999;

			ul {
				inset-inline-start: -99999rem;
				inset-block-start: 0;
			}
			li {
				white-space: normal;
			}

			a {
				width: 200px;
				font-size: 80%;
				color: #444;

				&:hover,
				&:focus {
					background-color: #efefef;
				}
				&:active {
					background-color: #e5e5e5;
				}
			}

			a,
			ul a,
			ul ul a {
				padding: calc(var(--default-stack-gap) / 4) calc(var(--default-stack-gap) / 2);
			}

			.current-menu-item > a {
				font-weight: bold;
				color: #373737;
				background-color: #fff;
			}
		}

		> ul > li i,
		> ul > li svg {
			display: inline-block;
			font-size: 80%;
			margin-inline-start: .2rem;
		}
		> ul ul > li i,
		> ul ul > li svg {
			display: inline-block;
			position: absolute;
			inset-block-start: 35%;
			inset-inline-end:  4%;
		}

	}

	.drawer {
		position: static;
		overflow: visible;
		z-index: auto;
		width: min(100%, var(--default-layout-width, 800px));
	}

	.drawer-btn {
		display: none;
	}

	body.drawer--on {
		overflow: visible;

		.drawer-overlay {
			display: none;
		}
	}
}
