// Built-In Modules
@use 'sass:map';

// Custom Modules
@use '../../../node_modules/flexbox-grid-mixins/dart-sass/flexbox-grid-mixins';

// Included Modules
@use '../variable';
@use '../mixin/stack';

/* Header */
.site-title {
	@include stack.unset-stack;

	a {
		font-family: var(--custom-font-family-site-title, variable.$default-font-family);
		color: var(--custom-header-text-color, #000);
	}
}

.site-description {
	font-family: var(--custom-font-family-site-title, variable.$default-font-family);
	color: var(--custom-header-text-color, #000);
	@include stack.unset-stack;
}

.site-branding {
	@include stack.stack;
}

.site-logo {
	line-height: 1;

	+ .site-branding {
		@include stack.unset-stack;

		@media screen and (min-width: #{map.get(variable.$default-breakpoints, xs ) + 1px} ) {
			margin-left: variable.$default-stack;
		}
	}
}

.site-header {
	background-color: var(--custom-header-background-color, unset);
}

.header-container {
	@include flexbox-grid-mixins.grid($flex-flow: column nowrap, $align-items: center);
	padding-top: variable.$default-stack;
	padding-bottom: variable.$default-stack;

	@media screen and (min-width: #{map.get(variable.$default-breakpoints, xs ) + 1px} ) {
		@include flexbox-grid-mixins.grid($flex-flow: row nowrap);
	}
}
