/* Navigation */
.posts-navigation,
.post-navigation,
.page-links,
.comment-navigation {}

.nav-links {
	@include grid($flex-wrap: nowrap, $justify-content: space-between, $align-items: center);

	div {
		@include grid-col($col: equal, $align-self: stretch);
	}

	.nav-previous {
		border-left: unset;
		border-right: solid 1px $default-border-color;
	}
	.nav-previous:first-child:last-child {
		border-right: unset;
	}
	.nav-next {
		text-align: right;
		margin-left: auto;
	}
	.nav-previous + .nav-next {
		border-left: solid 1px $default-border-color;
	}
}

.page-links {
	text-align: center;
	@extend .stack;

	a,
	.current {
		border-left: solid 1px $default-border-color;
		display: inline-block;
		font-weight: bold;
		width: 42px;

		&:first-child {
			border-left: unset;
		}
	}
}
