// Custom Modules
@use '../../../node_modules/flexbox-grid-mixins/dart-sass/flexbox-grid-mixins';

// Included Modules
@use '../variable';
@use '../mixin/stack';

/* Navigation */
.posts-navigation,
.post-navigation,
.search-results-pagination,
.page-links,
.comment-navigation {}

.nav-links {
	@include flexbox-grid-mixins.grid($flex-wrap: wrap, $justify-content: space-between, $align-items: center);

	div {
		@include flexbox-grid-mixins.grid-col($col: equal, $align-self: stretch);
	}

	.nav-previous {
		border-inline-end: 1px solid var(--default-border-color);
		padding-inline-end: 1rem;
	}
	.nav-previous:first-child:last-child {
		border-inline-end: 0;
		padding-inline-end: initial;
	}
	.nav-next {
		text-align: end;
		padding-inline-start: 1rem;
		border-inline-start: 1px solid var(--default-border-color);
	}
	.nav-next:first-child:last-child {
		border-inline-start: 0;
		padding-inline-start: initial;
	}
}

.search-results-pagination {
	.nav-links {
		justify-content: center;

		> * {
			padding: 0 1rem;
		}
	}
}

.page-links {
	@include flexbox-grid-mixins.grid($flex-wrap: wrap, $justify-content: center, $align-items: center);

	> * {
		padding: 0 1rem;
	}
}
