/* widget */
.widget {
	@extend .first-stack;
}
.widget + .widget {
	@extend .stack;
}

.widget > * {
	@extend .first-stack;
}
.widget > * + * {
	margin-top: ($default-stack / 2);
}

.calendar_wrap {
	font-size: 80%;
	th,
	td {
		padding: .4rem;
		text-align: center;
	}
}

.search-form {
	display: flex;

	label {
		display: flex;
		flex-grow: 1;
		max-width: 240px;
	}
}
.search-field {
	flex-grow: 1;
	max-width: 240px;
}
.search-submit {
	margin-left: .4rem;
}

.wp-calendar-table {
	width: 100%;

	th {
		font-weight: 400;
		background: #edeff0;
	}
}
.wp-calendar-nav {
	display: flex;
}
.wp-calendar-nav-next {
	margin-left: auto;
}
