// Included Modules
@use '../variable';
@use '../mixin/stack';
@use '../mixin/wordpress';

/* widget */
.widget {
	@include stack.first-stack;
}
.widget + .widget {
	@include stack.stack;
}

.widget > * {
	@include stack.first-stack;
}
.widget > * + * {
	margin-block-start: calc(var(--default-stack-gap) / 2);
}

.widget-title {
	font-size: var(--default-extra-large-font-size, 160%);
	line-height: var(--default-extra-large-line-height, 1.6);
}

.calendar_wrap {
	font-size: 80%;
	th,f
	td {
		padding: .4rem;
		text-align: center;
	}
}

.search-form {
	display: flex;
	flex-wrap: wrap;
	gap: .4rem;

	label {
		flex: 1;
		display: flex;
	}
}

.search-field {
	flex: max-content;
	width: max(180px, 100%);
}

.wp-calendar-table {
	width: 100%;

	th {
		font-weight: 400;
		text-align: center;
		background: #edeff0;
	}
}
.wp-calendar-nav {
	display: flex;
}
.wp-calendar-nav-next {
	margin-inline-start: auto;
}
