/* widget */
.widget {
	@extend .first-stack;
}
.widget + .widget {
	@extend .stack;
}

.widget > * {
	@extend .first-stack;
}
.widget > * + * {
	margin-top: ($default-stack / 2);
}

.calendar_wrap {
	font-size: 80%;
	th,
	td {
		padding: .4rem;
		text-align: center;
	}
}
