/* WordPress */
.wp-caption,
.gallery-caption,
.sticky,
.bypostauthor {
	background-color: transparent;
}

.wp-caption-text {
	color: #666;
}

.alignleft {
	float: left;
	margin-right: $default-stack;
}
.alignright {
	float: right;
	margin-left: $default-stack;
}
.aligncenter {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}
.alignnone {}
.alignwide {}
.alignfull {}

.edit-link a {
	display: inline-block;
	font-size: 80%;
	font-weight: normal;
	color: #666;
	background-color: #f3f3f3;
	border-radius: .2rem;
	padding: 0 .4rem;

	&:hover {
		color: #666;
		text-decoration: none;
		background-color: #eee;
	}
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
