// Included Modules
@use '../variable';

/* WordPress */
.wp-caption,
.gallery-caption,
.sticky,
.bypostauthor {
	background-color: transparent;
}

.wp-caption {
	max-width: 100%;
}

.wp-caption-text {
	color: #666;
}

.alignleft {
	float: left;
	margin-inline-end: var(--default-stack-gap);
}
.alignright {
	float: right;
	margin-inline-start: var(--default-stack-gap);
}
.aligncenter {
	clear: both;
	margin-inline: auto;
}
.alignnone {}
.alignwide {}
.alignfull {}

.edit-link {
	display: inline-block;
	font-size: 80%;
	font-weight: normal;
	color: #666;
	background-color: #f3f3f3;
	border-radius: .2rem;
	padding: 0 .4rem;

	&:hover {
		color: #666;
		text-decoration: none;
		background-color: #eee;
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	overflow-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	inset-inline-start: 5px;
	inset-block-start: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.post-password-form {
	p:nth-child(2) {
		display: flex;
		flex-wrap: wrap;
		gap: .4rem;
	}
	label {
		display: flex;
		flex-wrap: wrap;
		column-gap: .4rem;
		align-items: baseline;
	}

	input[type="password"] {
		flex: max-content;
		width: min(100%, 200px);
		// width: 100%;
    // max-width: 200px;
	}
}
