// Built-In Modules
@use 'sass:map';

// Included Modules
@use '../variable';
@use '../mixin/stack';
@use '../mixin/wordpress';

/* WP Block */
// stack setting
:is(
	.entry-content,
	.entry-summary,
	.comment-content,
	.stack,
	.article-inner
) {
	> * {
		+ [class*="wp-block-"]:not(.wp-block-separator):not(.wp-block-group) {
			@include stack.stack;
		}
	}
}

:is(
	.wp-block-column,
	.wp-block-cover__inner-container,
	.wp-block-group__inner-container
) {
	> * {
		@include stack.first-stack;

		+ *:not([class*="wp-block-"]),
		+ [class*="wp-block-"]:not(.wp-block-separator):not(.wp-block-group) {
			@include stack.stack;
		}
	}
}

hr.wp-block-separator {
	margin-block: calc(var(--default-stack-gap) * 3);
	height: 0;
}

:is(
	.entry-content,
	.entry-summary
) {
	:is(
		h1, h2, h3, h4, h5, h6,
		[class*="wp-block-"]
	) {
		@media screen and (width > map.get(variable.$default-breakpoints, md)) {
			&.alignwide {
				width: 94vw;
				max-width: 94vw;
				position: relative;
				inset-inline: 50%;
				margin-inline: -47vw;
			}
		}

		&.alignfull {
			width: 100vw;
			max-width: 100vw;
			position: relative;
			inset-inline: 50%;
			margin-inline: -50vw;
		}
	}

	[class*="wp-block-"] {
		@media screen and (width > map.get(variable.$default-breakpoints, md)) {
			:is(
				.wp-block-group__inner-container,
				.wp-block-embed__wrapper
			) {
				> iframe {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (width > map.get(variable.$default-breakpoints, md)) {
	:is(
		.page-template-sidebar-page,
		.post-template-sidebar-post,
		.archive-template-index-sidebar,
		.archive-template-archive-sidebar
	) {
		:is(
			.entry-content,
			.entry-summary
		) {
			:is(
				h1, h2, h3, h4, h5, h6,
				[class*="wp-block-"]
			) {
				&.alignwide,
				&.alignfull {
					width: 100%;
					max-width: 100%;
					position: relative;
					inset-inline: 0;
					margin-inline: 0;
				}
			}
		}
	}
}

@media (min-width: 600px) {
	.wp-block-columns {
		margin-inline: 0;
	}

	.wp-block-column {
		flex-basis: initial;
		flex-grow: initial;
	}
}
@media screen and (width > map.get(variable.$default-breakpoints, xs)) {
	.wp-block-column {
		flex-basis: calc(50% - 16px);
		flex-grow: 0;
	}
}

.wp-block-button {
	line-height: normal;

	.wp-block-button__link {
		border: 2px solid;
		border-color: transparent;
		padding: 8px 20px;

		&:hover {
			opacity: .8;
		}
	}
}

.wp-block-button.is-style-outline {
	.wp-block-button__link {
		border-color: currentColor;

		&:not(.has-background):hover {
			background: #f4f4f4;
			opacity: 1;
		}
	}
}

.wp-block-latest-posts {
	padding-inline-start: 0;
}

.wp-block-image,
.wp-block-post-featured-image {
	img {
		display: block;
	}
}
figure.aligncenter {
	img {
		@include wordpress.aligncenter;
	}
}

.wp-block-gallery {
	&.alignleft {
		max-width: initial;
		justify-content: flex-start;
	}
	&.alignright {
		max-width: initial;
		justify-content: flex-end;
	}
	&.aligncenter {
		clear: both;
		margin-inline: initial;
		justify-content: center;
	}
}
.blocks-gallery-caption {
	text-align: initial;
}

[class*="wp-block-"] {
	figcaption {
		text-align: initial;
	}
}

body:not(.page-template-sidebar-page):not(.post-template-sidebar-post):not(.archive-template-index-sidebar):not(.archive-template-archive-sidebar) {
	[class*="wp-block-"] {
		&.alignfull {
			figcaption {
				margin-inline: var(--default-stack-gap);
			}
		}
	}
}
@media screen and (width <= map.get(variable.$default-breakpoints, md)) {
	:is(
		.page-template-sidebar-page,
		.post-template-sidebar-post,
		.archive-template-index-sidebar,
		.archive-template-archive-sidebar
	) {
		[class*="wp-block-"] {
			&.alignfull {
				figcaption {
					margin-inline: var(--default-stack-gap);
				}
			}
		}
	}
}

.wp-block-quote {
	margin-block-end: 0;
	border: none;
	padding: var(--default-stack-gap);

	&.has-text-align-left {
		border: 1px solid var(--default-border-color);
		border-inline-start: 4px solid var(--default-border-color);
	}
	&.has-text-align-center {
		border: 1px solid var(--default-border-color);
		padding: var(--default-stack-gap);
	}
	&.has-text-align-right {
		border: 1px solid var(--default-border-color);
		border-inline-end: 4px solid var(--default-border-color);
		padding: var(--default-stack-gap);
	}

	&.is-large,
	&.is-style-large {
		padding: var(--default-stack-gap);

		p {
			font-style: initial;
		}
		cite {
			font-size: 13px;
		}
	}
}

.wp-block-table {
	th,
	td {
		border-color: inherit;
	}
	thead {
		border-block-end: 1px solid;
		border-color: inherit;
	}
	tfoot {
		border-block-start: 1px solid;
		border-color: inherit;
	}

	&.alignwide,
	&.alignfull {
		table {
			width: 100%;
		}
	}
}

.wp-block-cover {
	> .wp-block-cover__inner-container {
		max-width: 100%;
		margin-inline: auto;
	}

	&.alignfull {
		padding-inline: 0;

		> .wp-block-cover__inner-container {
			padding-inline: var(--default-stack-gap);
		}
	}
}

.wp-block-group {
	> .wp-block-group__inner-container {
		max-width: 100%;
		margin-inline: auto;
	}
}

.wp-block-group__inner-container {
	.wp-block-group {
		> .wp-block-group__inner-container {
			width: 100%;
			max-width: initial;
			margin-inline: initial;
		}
	}
}

.wp-block-group {
	&.alignfull {
		&.inner-alignfull > .wp-block-group__inner-container {
			width: 100vw;
			max-width: 100vw;
			position: relative;
			padding-inline: 0;
		}
		&.inner-alignwide > .wp-block-group__inner-container {
			width: 94vw;
			max-width: 94vw;
			position: relative;
			padding-inline: 0;
		}
	}
}

.wp-block-latest-comments {
	padding-inline-start: 0;
}
.wp-block-latest-comments__comment {
	margin-block-end: 0;
}

.wp-block-latest-comments__comment-excerpt p {
	margin: 0;
}

.wp-block-search__inside-wrapper {
	max-width: 100%;
	width: 100%;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	border: 2px solid var(--default-border-color);
	background: #fff;
}

.wp-block-search__button {
	margin-inline-start: 0.4rem;
}

@media screen and (width <= variable.$default-editor-breakpoint-small) {
	.wp-block-media-text {
		&.is-stacked-on-mobile {
			.wp-block-media-text__content {
				margin-block-start: var(--default-stack-gap);
				padding: 0;
			}
		}
	}
}
