/* WP Block */
.wp-block-image,
.wp-block-table,
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-pullquote,
.wp-block-code,
.wp-block-preformatted,
.wp-block-verse,
.wp-block-separator,
.wp-block-audio,
.wp-block-file,
.wp-block-video,
.wp-block-embed,
.wp-block-buttons,
.wp-block-columns,
.wp-block-media-text,
.wp-block-gallery {
	@extend .stack;
}

.entry-content,
.entry-summary {
	[class^="wp-block-"] {
		@media screen and (min-width: #{map-get($default-breakpoints, md ) + 1px} ) {
			&.alignwide {
				width: 94vw;
				max-width: 94vw;
				position: relative;
				left: 50%;
				right: 50%;
				margin-left: -47vw;
				margin-right: -47vw;
			}
		}

		&.alignfull {
			width: 100vw;
			max-width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
		}

		.wp-block-group__inner-container,
		.wp-block-embed__wrapper {
			> iframe {
				width: 100%;
			}
		}
	}

	.wp-block-image:last-child {
		&::after {
			@extend .clearfix::after;
		}
	}
}

@media screen and (min-width: #{map-get($default-breakpoints, md ) + 1px} ) {
	.page-template-sidebar-page,
	.post-template-sidebar-post,
	.archive-template-index-sidebar,
	.archive-template-archive-sidebar {
		.entry-content,
		.entry-summary {
			> [class^="wp-block-"] {
				&.alignwide,
				&.alignfull {
					width: 100%;
					max-width: 100%;
					position: relative;
					left: 0;
					right: 0;
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}
}

[class^="wp-block-"] {
	&.alignwide,
	&.alignfull {
		padding-left: 0;
		padding-right: 0;
	}

	> p:last-child {}
}

@media (min-width: 600px) {
	.wp-block-columns {
		margin-left: 0;
		margin-right: 0;
	}

	.wp-block-column {
		flex-basis: unset;
		flex-grow: unset;
	}
}
@media screen and (min-width: #{map-get($default-breakpoints, xs ) + 1px} ) {
	.wp-block-column {
		flex-basis: calc(50% - 16px);
		flex-grow: 0;
	}
}

.wp-block-buttons .wp-block-button {
	margin-bottom: unset;
}

.wp-block-button {
	.wp-block-button__link {
		border: 2px solid;
		border-color: transparent;
		padding: 8px 20px;

		&:hover {
			opacity: .8;
		}
	}
}

.wp-block-button.is-style-outline {
	.wp-block-button__link {
		border-color: currentColor;

		&:not(.has-background):hover {
			background: #f4f4f4;
			opacity: 1;
		}
	}
}

.wp-block-latest-posts {
	padding-left: 0;
}

.wp-block-image {
	line-height: 0;

	img {
		margin: 0;
	}
}
figure.aligncenter {
	img {
		@extend .aligncenter
	}
}

.wp-block-gallery {
	margin-left: 0;
}

.wp-block-quote {
	border-color: $default-border-color;
	margin-bottom: 0;
	padding-left: $default-stack;

	&.is-large,
	&.is-style-large {
		padding: $default-stack;

		p {
			font-style: unset;
		}
		cite {
			font-size: 13px;
		}
	}
}

.wp-block-group {
	> .wp-block-group__inner-container {
		width: 100%;
		max-width: $default-layout-width;
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-block-group__inner-container {
	.wp-block-group {
		> .wp-block-group__inner-container {
			width: 100%;
			max-width: unset;
			margin-left: unset;
			margin-right: unset;
		}
	}
}

.wp-block-group {
	&.alignfull {
		padding-left: 0;
		padding-right: 0;

		> .wp-block-group__inner-container {
			padding-left: $default-layout-padding;
			padding-right: $default-layout-padding;
		}
		&.inner-alignfull > .wp-block-group__inner-container {
			width: 100vw;
			max-width: 100vw;
			position: relative;
			padding-left: 0;
			padding-right: 0;
		}
		&.inner-alignwide > .wp-block-group__inner-container {
			width: 94vw;
			max-width: 94vw;
			position: relative;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
