/* editor-color-palette */
:root {
	--color-palette-crimson: #dc143c;
	--color-palette-light-pink: #ffb6c1;
	--color-palette-dark-orange: #ff8c00;
	--color-palette-medium-seagreen: #3cb371;
	--color-palette-deep-skyblue: #00bfff;
	--color-palette-blue-violet: #8a2be2;
	--color-palette-white: #ffffff;
	--color-palette-snow: #fffafa;
	--color-palette-very-light-gray: #eeeeee;
	--color-palette-light-gray: #abb8c3;
	--color-palette-dark-gray: #a9a9a9;
	--color-palette-black: #000000;

	--color-palette-neutral: #d3d3d3;
	--color-palette-success: #28a745;
	--color-palette-warning: #ffc107;
	--color-palette-important: #dc3545;
	--color-palette-info: #33b5e5;
	--color-palette-notice: #007bff;
}

.has-crimson-color {
	color: var(--color-palette-crimson);
}
.has-crimson-background-color {
	background-color: var(--color-palette-crimson);
}
.has-light-pink-color {
	color: var(--color-palette-light-pink);
}
.has-light-pink-background-color {
	background-color: var(--color-palette-light-pink);
}
.has-dark-orange-color {
	color: var(--color-palette-dark-orange);
}
.has-dark-orange-background-color {
	background-color: var(--color-palette-dark-orange);
}
.has-medium-seagreen-color {
	color: var(--color-palette-medium-seagreen);
}
.has-medium-seagreen-background-color {
	background-color: var(--color-palette-medium-seagreen);
}
.has-deep-skyblue-color {
	color: var(--color-palette-deep-skyblue);
}
.has-deep-skyblue-background-color {
	background-color: var(--color-palette-deep-skyblue);
}
.has-blue-violet-color {
	color: var(--color-palette-blue-violet);
}
.has-blue-violet-background-color {
	background-color: var(--color-palette-blue-violet);
}

.has-white-color {
	color: var(--color-palette-white);
}
.has-white-background-color {
	background-color: var(--color-palette-white);
}
.has-snow-color {
	color: var(--color-palette-snow);
}
.has-snow-background-color {
	background-color: var(--color-palette-snow);
}
.has-very-light-gray-color {
	color: var(--color-palette-very-light-gray);
}
.has-very-light-gray-background-color {
	background-color: var(--color-palette-very-light-gray);
}
.has-light-gray-color {
	color: var(--color-palette-light-gray);
}
.has-light-gray-background-color {
	background-color: var(--color-palette-light-gray);
}
.has-dark-gray-color {
	color: var(--color-palette-dark-gray);
}
.has-dark-gray-background-color {
	background-color: var(--color-palette-dark-gray);
}
.has-black-color {
	color: var(--color-palette-black);
}
.has-black-background-color {
	background-color: var(--color-palette-black);
}

.has-neutral-color {
	color: var(--color-palette-neutral);
}
.has-neutral-background-color {
	background-color: var(--color-palette-neutral);
}
.has-success-color {
	color: var(--color-palette-success);
}
.has-success-background-color {
	background-color: var(--color-palette-success);
}
.has-warning-color {
	color: var(--color-palette-warning);
}
.has-warning-background-color {
	background-color: var(--color-palette-warning);
}
.has-important-color {
	color: var(--color-palette-important);
}
.has-important-background-color {
	background-color: var(--color-palette-important);
}
.has-info-color {
	color: var(--color-palette-info);
}
.has-info-background-color {
	background-color: var(--color-palette-info);
}
.has-notice-color {
	color: var(--color-palette-notice);
}
.has-notice-background-color {
	background-color: var(--color-palette-notice);
}
