/*-----------------------*
		Element
*-----------------------*/
body {
	font-size: 100%;
	color: $default-font-color;
	font-family: $default-font-family;
	line-height: $default-line-height;
	letter-spacing: .1rem;
	background: $default-background-color;
	margin: $default-layout-margin;
}
input,
textarea {
	color: $default-font-color;
	font-size: 100%;
	font-weight: normal;
	line-height: 1.225;
}
textarea {
	line-height: $default-line-height;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;

	> small {
		font-size: 75%;
		font-weight: normal;
	}
}

h1 {
	font-size: 240%;
}
h2 {
	font-size: 180%;
}
h3 {
	font-size: 160%;
}
h4 {
	font-size: 140%;
}
h5,
h6 {
	font-size: 120%;
}

hr {
	background-color: rgba(0, 0, 0, .3);
	box-shadow: rgba(255, 255, 255, .3) 0 1px 0;
	border: 0;
	height: 1px;
	margin-bottom: $default-margin;
}
p {
	font-size: $default-font-size;
	margin-bottom: $default-margin;
}

table {
  border-collapse: collapse;
	border: 1px solid $default-line-color;
	margin: 0 0 $default-margin;
	width: 100%;
}
th,
td {
	border-top: 1px solid $default-line-color;
	border-right: 1px solid $default-line-color;
	padding: .6rem;
}
th {
	background: #eee;
	font-weight: bold;
	text-align: left;
}

ul,
ol {
	font-size: $default-font-size;
	margin: 0 0 $default-margin 2.5rem;
}
ul {
	list-style: disc;

	&.unstyled {
		list-style: none;
	}
	&.inline {
		list-style: none;
	}
	&.inline li {
		display: inline;
		padding-right: 2rem;
	}
}
ol {
	list-style-type: decimal;
	ol {
		list-style: upper-alpha;
		ol {
			list-style: lower-roman;
			ol {
				list-style: lower-alpha;
			}
		}
	}
}
ul ul,
ol ol,
ul ol,
ol ul {
	font-size: 100%;
	margin-bottom: 0;
}
li li {
	font-size: 100%;
}
dl {
	font-size: $default-font-size;
	margin: 0 $default-margin;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 .8rem $default-margin;
}
strong {
	font-weight: bold;
}
blockquote {
	padding: .75rem;
	margin-bottom: $default-margin;
	background-color: #f4f4f4;
	border-radius: .2rem;

	p:last-child {
		margin: 0;
	}
}

code,
pre,
kbd {
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 100%;
}
pre {
	background-color: #f4f4f4;
	margin-bottom: $default-margin;
	padding: .75rem $default-margin;
	overflow: auto;
	border-radius: .2rem;

	code {
		padding: 0;
		color: inherit;
		background-color: transparent;
		border: 0;
	}

	&.wrap {
		white-space: pre;
		white-space: pre-wrap;
		word-break: break-all;
		word-wrap: break-word;
	}
	&.scrollable {
		max-height: 240px;
		overflow-y: scroll;
	}
	&.prettyprint {}

}
code {
	padding: .2rem;
	color: #d14;
	background-color: #f4f4f4;
	border-radius: .2rem;
}
kbd {
	padding: .2rem;
	color: #fff;
	background-color: #333;
	border-radius: .2rem;
}
abbr,
acronym,
dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 $default-margin;
}
ins {
	text-decoration: none;
}
sup,
sub {
	font-size: $default-font-size;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: .5ex;
}
sub {
	top: .5ex;
}
figure {
	img {
		display: block;
		margin: 0 auto;
	}
	figcaption {
		color: #333;
		font-size: $default-font-size;
	}
}

/* Links */
a {
	color: $default-link-color;

	&:focus,
	&:active,
	&:hover {
		color: $default-link-hover-color;
		text-decoration: underline;
	}
}

img {
	max-width: 100%;
	height: auto;
}
