/*-----------------------*
		Structure
*-----------------------*/
html,
body {
	height: 100%;
}

.container {
	@include grid($flex-flow: column nowrap);
}

.site-header,
.site-header-image,
.site-content {
	width: 100%;
}

// .site-branding {
// 	width: 100%;
// 	max-width: $default-layout-width;
// 	margin: 0 auto;
// 	padding: $default-layout-padding;
// }

.header-container,
.site-navi,
.footer-container,
.page-header,
.main-container > article,
.posts-navigation,
.post-navigation,
.comments-area,
.secondary {
	width: 100%;
	max-width: $default-layout-width;
	margin: 0 auto;
	padding-left: $default-layout-padding;
	padding-right: $default-layout-padding;
}

@media screen and (min-width: #{map-get($default-breakpoints, md ) + 1px} ) {
	.page-template-narrow-column,
	.post-template-narrow-column {
		.page-header,
		.main-container > article,
		.posts-navigation,
		.post-navigation,
		.comments-area,
		.secondary {
			max-width: $default-layout-narrow-width;
		}
	}

	.page-template-sidebar-page {
		.site-content {
			@include grid($justify-content: space-between);
			width: 100%;
			max-width: $default-layout-width;
			margin: 0 auto;
			padding-left: $default-layout-padding;
			padding-right: $default-layout-padding;
		}
		.primary {
			@include grid-col($col: 8.5);
		}
		.secondary {
			@include grid-col($col: 3);
			margin: 0;
		}
		.page-header,
		.main-container > article,
		.posts-navigation,
		.post-navigation,
		.comments-area,
		.secondary {
			// max-width: 75%;
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.site-content {
	margin-top: 1.2rem;
}
