// Built-In Modules
@use 'sass:map';

// Custom Modules
@use '../../node_modules/flexbox-grid-mixins/dart-sass/flexbox-grid-mixins';

// Included Modules
@use 'variable';
@use 'mixin/stack';

/*-----------------------*
		Structure
*-----------------------*/
html,
body {
	height: 100%;
}

.container {
	min-width: 240px;
}

.site-header,
.site-header-image,
.site-content {
	width: 100%;
}

.header-container,
.site-navi,
.footer-container,
.page-header,
.main-container > article,
.posts-navigation,
.post-navigation,
.search-results-pagination,
.comments-area,
.secondary {
	width: min(100%, var(--default-layout-width, 800px));
	margin-inline: auto;
	padding-inline: var(--default-stack-gap);
}

.secondary {
	margin: 0;
	@include stack.stack;
}

@media screen and (width > map.get(variable.$default-breakpoints, md)) {
	.page-template-narrow-width-page {
		.page-header,
		.main-container > article,
		.posts-navigation,
		.post-navigation,
		.search-results-pagination,
		.comments-area,
		.secondary {
			max-width: var(--default-layout-narrow-width, 640px);
		}
	}

	.page-template-sidebar-page,
	.post-template-sidebar-post,
	.archive-template-index-sidebar,
	.archive-template-archive-sidebar {
		.site-content {
			display: grid;
			grid-template-columns: 3fr 1fr;
			gap: var(--default-stack-gap);
			width: 100%;
			max-width: var(--default-layout-width, 800px);
			margin-inline: auto;
			padding-inline: var(--default-stack-gap);
		}
		.primary {
			max-width: calc(var(--default-layout-width) - var(--default-layout-sidebar) - var(--default-stack-gap) - var(--default-stack-gap) * 2);
		}
		.secondary {
			width: var(--default-layout-sidebar);
			margin: 0;
		}
		.page-header,
		.main-container > article,
		.posts-navigation,
		.post-navigation,
		.search-results-pagination,
		.comments-area,
		.secondary {
			padding-inline: 0;
		}
	}
}

.site-content {
	margin-block-start: var(--default-stack-gap);
}
.page-template-blank-page-without-header,
.page-template-landing-page {
	.site-content {
		margin-block-start: 0;
	}
}
