/*-----------------------*
		Structure
*-----------------------*/
html,
body {
	height: 100%;
}

.container {
	@include grid($flex-flow: column nowrap);
}

.site-header,
.site-header-image,
.site-content {
	width: 100%;
}

.header-container,
.site-navi,
.footer-container,
.page-header,
.main-container > article,
.posts-navigation,
.post-navigation,
.comments-area,
.secondary {
	width: 100%;
	max-width: $default-layout-width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $default-layout-padding;
	padding-right: $default-layout-padding;
	word-break: break-word;
}

.secondary {
	margin: 0;
	@extend .stack;
}

@media screen and (min-width: #{map-get($default-breakpoints, md ) + 1px} ) {
	.page-header,
	.page-template-narrow-width-page,
	.post-template-narrow-width-post {
		.main-container > article,
		.posts-navigation,
		.post-navigation,
		.comments-area,
		.secondary {
			max-width: $default-layout-narrow-width;
		}
	}

	.page-template-sidebar-page,
	.post-template-sidebar-post,
	.archive-template-index-sidebar,
	.archive-template-archive-sidebar {
		.site-content {
			@include grid($justify-content: space-between);
			width: 100%;
			max-width: $default-layout-width;
			margin-left: auto;
			margin-right: auto;
			padding-left: $default-layout-padding;
			padding-right: $default-layout-padding;
		}
		.primary {
			@include grid-col($col: 8.5);
			min-width: 0;
		}
		.secondary {
			@include grid-col($col: 3);
			min-width: 0;
			margin: 0;
		}
		.page-header,
		.main-container > article,
		.posts-navigation,
		.post-navigation,
		.comments-area,
		.secondary {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.site-content {
	margin-top: ($default-stack * 2);

	.page-template-landing-page & {
		margin-top: 0;
	}
}
