$default-layout-width: 1024px;
$default-layout-narrow-width: 70ch;

$default-font-size: 100%;
$default-line-space: 8px;
$default-line-height: line-height($default-line-space, $default-font-size);
$default-stack: stack($default-line-height, $default-font-size) * 4;

$default-layout-margin: 0;
$default-layout-padding: $default-stack;

$default-grid-columns: 12;
$default-grid-gutter: 2%;

$default-font-color: #000;
$default-font-family: -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$default-primary-color: #000;
$default-secondary-color: #252525;
$default-tertiary-color: #E51;

$default-background-color: #fff;
$default-border-color: #ddd;

$default-link-text-color: #2F80ED;
$default-link-text-hover-color: #f00;

$default-button-background-color: #2F80ED;

$default-breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 896px,
  lg: 1024px,
  xl: 1280px
);

$flexbox-grid-mixins-box-sizing: null;
