$default-font-size: 18px !default;

$default-breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 896px,
  lg: 1024px,
  xl: 1280px
) !default;

// global settings for Flexbox Grid Mixins
$flexbox-grid-mixins-box-sizing: null;
$flexbox-grid-mixins-stack: margin-block-start;

// See https://github.com/WordPress/gutenberg/blob/trunk/packages/base-styles/_breakpoints.scss
$default-editor-breakpoint-small: 600px !default;
