@import 'mixin';
@import 'function';

@import 'variable';

@import "foundation/stack";

// editable aria setting
.wp-block {
	max-width: $default-editor-max-width;
}

// theme style setting
.editor-post-title__block .editor-post-title__input {
	font-family: var(--custom-font-family-base, $default-font-family);
	font-weight: 700;
}

.editor-styles-wrapper {
	b, strong {
		font-weight: bolder;
	}

	blockquote {
		padding: $default-stack;
		background-color: #f4f4f4;
		border-radius: .2rem;
	}

	code {
		color: #d14;
		background-color: #f4f4f4;
	}
	code, kbd {
		padding: .2rem;
		border-radius: .2rem;
	}

	table {
		border-collapse: collapse;
		border: 1px solid;
		border-color: $default-border-color;
	}
	th,
	td {
		border-top: 1px solid;
		border-right: 1px solid;
		border-left: unset;
		border-color: inherit;
		padding: .6rem;
	}
	th {
		font-weight: bold;
		text-align: left;
	}
	thead {
		border-bottom: 1px solid;
		border-color: inherit;
	}
	tfoot {
		border-top: 1px solid;
		border-color: inherit;
	}
}

.wp-block-button {
	.wp-block-button__link {
		border: 2px solid;
		border-color: transparent;
		padding: 8px 20px;
	}
}

.wp-block-button.is-style-outline {
	.wp-block-button__link {
		border-color: currentColor;
	}
}

.wp-block-quote {
	border: none;
	padding: $default-stack;

	&.has-text-align-left {
		border: 1px solid $default-border-color;
		border-left: 4px solid $default-border-color;
	}
	&.has-text-align-center {
		border: 1px solid $default-border-color;
		padding: $default-stack;
	}
	&.has-text-align-right {
		border: 1px solid $default-border-color;
		border-right: 4px solid $default-border-color;
		padding: $default-stack;
	}

	&.is-large,
	&.is-style-large {
		border: none;
		font-style: unset;
		padding: $default-stack;

		p {
			font-style: unset;
		}
		cite {
			font-size: 13px;
		}
	}
}

.wp-block-table {
	thead {
		border-bottom: 2px solid;
		border-color: inherit;
	}
	tfoot {
		border-top: 2px solid;
		border-color: inherit;
	}

	&.is-style-stripes {
		table {
			border: unset;
			border-color: inherit;
		}
		tfoot {
			border-top: unset;
		}
	}
}

[data-align="wide"],
[data-align="full"] {
	.wp-block-table {
		table {
			width: 100%;
		}
	}
}

[data-align="full"]>.wp-block-post-featured-image img,
[data-align="wide"]>.wp-block-post-featured-image img {
	width: 100%;
}

.blocks-gallery-caption {
	text-align: unset;
}
.wp-block-embed,
.wp-block-image,
.wp-block-post-featured-image,
.wp-block-table {
	figcaption {
		text-align: unset;
	}
}

[data-align="full"] {
	.wp-block-embed,
	.wp-block-image,
	.wp-block-post-featured-image,
	.wp-block-table {
		figcaption {
			margin-left: $default-stack;
			margin-right: $default-stack;
		}
	}
}

.block-editor-block-list__block {
	margin-top: 0;
	margin-bottom: 0;
}

// stack setting
.is-root-container {
	* {
		+ h1, + h2, + h3, + h4, + h5, + h6,
		+ p,
		+ hr,
		+ table,
		+ ul,
		+ ol,
		+ dl,
		+ blockquote,
		+ pre,

		+ .wp-block-image,
		+ .wp-block > .wp-block-table,
		+ .wp-block > .wp-block-quote,
		+ .wp-block-pullquote,
		+ .wp-block-code,
		+ .wp-block-preformatted,
		+ .wp-block-verse,
		+ .wp-block-audio,
		+ .wp-block-file,
		+ .wp-block-video,
		+ .wp-block-embed,
		+ .wp-block-buttons,
		+ .wp-block-columns,
		+ .wp-block-media-text,
		+ .wp-block-calendar,
		+ .wp-block-search,
		+ .wp-block > .wp-block-gallery {
			@extend .stack;
		}

		// for alignwide, alignfull
		+ .wp-block {
			> .wp-block-table,
			> .wp-block-quote,
			> .wp-block-columns,
			> .wp-block-media-text,
			> .wp-block-gallery {
				@extend .stack;
			}
		}
	}

	* {
		+ .wp-block-separator {
			margin-top: calc(var(--const-stack, unset) * 3);
			margin-bottom: calc(var(--const-stack, unset) * 3);
		}
	}
}

.wp-block[data-align="wide"] {
	max-width: 94vw;

	.wp-block-group__inner-container,
	.wp-block-cover__inner-container {
		> .wp-block {
			max-width: 94vw;
		}
	}
}
.wp-block[data-align="full"] {
	max-width: 100vw;

	.wp-block-group__inner-container,
	.wp-block-cover__inner-container {
		> .wp-block {
			max-width: 100vw;
		}
	}
}
