@import 'mixin';
@import 'function';

@import 'variable';

@import 'component/editor-color-palette';

.editor-post-title__block .editor-post-title__input {
	font-family: var(--custom-font-family-base, $default-font-family);
}

.wp-block-table {
	thead {
		border-bottom: 2px solid;
		border-color: inherit;
	}
	tfoot {
		border-top: 2px solid;
		border-color: inherit;
	}
}

.wp-block[data-type="core/group"][data-align=full]>.editor-block-list__block-edit>div>.wp-block-group>.wp-block-group__inner-container>.editor-inner-blocks>.editor-block-list__layout>.wp-block[data-align=wide] {
	padding-right: 0;
	padding-left: 0;
	left: 0;
	width: 80%;
	max-width: none;
}
