@import 'mixin';
@import 'function';

@import 'variable';

body {
	background-color: var(--custom-background-color, $default-editor-background-color);
	font-size: var(--custom-font-size, 16px);
	line-height: var(--custom-line-height, line-height($default-line-space, $default-font-size));
	color: var(--custom-font-color, $default-font-color);
	font-family: var(--custom-font-family-base, $default-font-family);
	font-feature-settings : 'pwid';
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--custom-font-family-headings, $default-font-family);
}

a {
	color: var(--custom-link-text-color, $default-link-text-color);

	&:focus,
	&:active,
	&:hover {
		color: var(--custom-link-text-hover-color, $default-link-text-hover-color);
	}
}

/**
 * Fixd Editor Normalization Styles
 *
 * These are only output in the editor, but styles here are prefixed .editor-styles-wrapper and affect the theming
 * of the editor by themes.
 * Why do these exist? Why not rely on browser defaults?
 * These styles are necessary so long as CSS can bleed from the wp-admin into the editing canvas itself.
 * Let's continue working to refactor these away, whether through Shadow DOM or better scoping of upstream styles.
 *
  * See packages/editor/src/editor-styles.scss
 */

ol.wp-block-latest-comments {
	padding-left: 0;
}

.wp-block-latest-comments__comment {
	margin-bottom: 1em;
}
