@import 'mixin';
@import 'function';

@import 'variable';

body {
	color: $default-font-color;
	font-family: var(--custom-font-family-base, $default-font-family);
	line-height: line-height($default-line-space, $default-font-size);;
	background-color: $default-editor-background-color;
}

/**
 * Fixd Editor Normalization Styles
 *
 * These are only output in the editor, but styles here are prefixed .editor-styles-wrapper and affect the theming
 * of the editor by themes.
 * Why do these exist? Why not rely on browser defaults?
 * These styles are necessary so long as CSS can bleed from the wp-admin into the editing canvas itself.
 * Let's continue working to refactor these away, whether through Shadow DOM or better scoping of upstream styles.
 *
  * See packages/editor/src/editor-styles.scss
 */
