// Included Modules
@use 'variable';
@use 'function/calc-stack';

body {
	background-color: var(--custom-background-color, variable.$default-editor-background-color);
	font-size: var(--custom-font-size, 16px);
	line-height: var(--custom-line-height, calc-stack.line-height(variable.$default-line-space, variable.$default-font-size));
	color: var(--custom-font-color, variable.$default-font-color);
	font-family: var(--custom-font-family-base, variable.$default-font-family);
	font-feature-settings : 'pwid';
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--custom-font-family-headings, variable.$default-font-family);
}

h1 {
	font-size: 240%;
	line-height: calc-stack.line-height(variable.$default-line-space, 240%);
}
h2 {
	font-size: 200%;
	line-height: calc-stack.line-height(variable.$default-line-space, 200%);
}
h3 {
	font-size: 160%;
	line-height: calc-stack.line-height(variable.$default-line-space, 160%);
}
h4 {
	font-size: 140%;
	line-height: calc-stack.line-height(variable.$default-line-space, 140%);
}
h5 {
	font-size: 120%;
	line-height: calc-stack.line-height(variable.$default-line-space, 120%);
}
h6 {
	font-size: 100%;
	line-height: calc-stack.line-height(variable.$default-line-space, 100%);
}

a {
	color: var(--custom-link-text-color, variable.$default-link-text-color);

	&:focus,
	&:active,
	&:hover {
		color: var(--custom-link-text-hover-color, variable.$default-link-text-hover-color);
	}
}

/**
 * Fixd Editor Normalization Styles
 *
 * These are only output in the editor, but styles here are prefixed .editor-styles-wrapper and affect the theming
 * of the editor by themes.
 * Why do these exist? Why not rely on browser defaults?
 * These styles are necessary so long as CSS can bleed from the wp-admin into the editing canvas itself.
 * Let's continue working to refactor these away, whether through Shadow DOM or better scoping of upstream styles.
 *
  * See packages/editor/src/editor-styles.scss
 */

ol.wp-block-latest-comments {
	padding-left: 0;
}

.wp-block-latest-comments__comment {
	margin-bottom: 1em;
}
